<div class="main" ng-controller="checkLoanController">
    <div class="out-background" ng-show="showRefuseDialog">
        <!--弹窗内容-->
        <div class="login" >
            <div class="login-title">拒绝原因：<div class="close"><a href="javascript:void(0);"class="close-login" ng-click="doCancel()"><img id="close" src="/resources/img/close.png" alt=""/></a></div></div>
            <div class="login-input-content">
                <div class="login-input">
                    <span class="main-reason">{{mainRefuseReason}}</span>
                </div>
                <div class="login-input">
                    <label>其他：</label>
                    <input type="text" placeholder=""  name="info[username]" id="username" class="list-input" ng-model="otherRefuseReason"/>
                </div>
            </div>

            <div class="button-area">
                <div class="login-button button-left" ng-click="doCancel()"><a href="javascript:void(0);" >取消</a></div>
                <div class="login-button button-right" ng-click="doRefuse()"><a href="javascript:void(0);" >确认</a></div>
            </div>

        </div>

    </div>

    <div class="out-background" ng-show="showPassDialog">
        <!--弹窗内容-->
        <div class="login_pass" >
            <div class="login-title">核准结果：<div class="close"><a href="javascript:void(0);"class="close-login" ng-click="doCancel()"><img id="close" src="/resources/img/close.png" alt=""/></a></div></div>
            <div class="loan-application-row1">
                <table class="mod-table1">
                    <tbody>

                    <tr>
                        <td width="15%">产品名称：</td>
                        <td colspan="3"><span class="fl">{{applyLoan.productName}}</span></td>

                    </tr>
                    <tr>
                        <td width="15%">贷款类型：</td>
                        <td width="30%" ><span class="fl red">{{applyLoan.productType}}</span></td>
                        <td width="15%">还款方式：</td>
                        <td width="30%"><span class="fl red">{{paybackTypes[paybackType].name}}</span></td>
                    </tr>
                    <tr>
                        <td width="15%">车辆成交价：</td>
                        <td width="30%" ><span class="fl red">{{applyLoan.vehicleDealPrice}}</span></td>
                        <td width="15%">贷款成数：</td>
                        <td width="30%"><span class="fl red">{{applyLoan.loanRate}}</span></td>
                    </tr>
                    <tr>
                        <td width="15%">首付金额：</td>
                        <td width="30%" ><span class="fl red">{{applyLoan.loanFirstPayment}}</span></td>
                        <td width="15%">贷款总金额：</td>
                        <td width="30%"><span class="fl red">{{applyLoan.vehicleDealPrice-applyLoan.loanFirstPayment}}</span></td>
                    </tr>
                    <tr>
                        <td width="15%">贷款利率：</td>
                        <td width="30%" ><span class="fl red">{{applyLoan.loanMonthlyInterestRate}}%/月</span></td>
                        <td width="15%">贷款期数：</td>
                        <td width="30%"><span class="fl red">{{applyLoan.loanTerms}}</span></td>
                    </tr>
                    <tr>
                        <td>还款金额（元/月）：</td>
                        <td>{{applyLoan.vehicleDealPrice*(1-applyLoan.loanRate/10)*(applyLoan.loanMonthlyInterestRate/100+1/applyLoan.loanTerms)}}</td>
                    </tr>
                    </tbody>
                </table>
                <div class="hr"></div>
                <div class="button-area">
                    <div class="login-button button-left" ng-click="doCancel()"><a href="javascript:void(0);" >取消</a></div>
                    <div class="login-button button-right" ng-click="doPass()"><a href="javascript:void(0);" >确认</a></div>
                </div>
            </div>

        </div>

    </div>

    <div class="mod-hd">
        <h2>申请车辆信息</h2>
    </div>

    <div class="loan-application-row1">
        <div class="fr">申请编号：{{applyLoan.id}}</div>
        <table class="mod-table1">
            <tbody>
            <tr>
                <td rowspan="7" width="10">申请贷款方案</td>
                <td width="15%">产品名称：</td>
                <td colspan="3"><span class="fl">{{applyLoan.productName}}</span></td>

            </tr>
            <tr>
                <td width="15%">车架号：</td>
                <td colspan="3" width="30%" ><span class="fl">{{applyLoan.vehicleVin}}</span></td>
            </tr>
            <tr>
                <td width="15%">生产厂家：</td>
                <td colspan="3" width="30%" ><span class="fl">{{applyLoan.vehicleManufacturers+applyLoan.vehicleBrand+applyLoan.vehicleSeries}}</span></td>
            <tr>
                <td width="15%">首付款：</td>
                <td width="30%" ><span class="fl">{{applyLoan.loanFirstPayment}}</span></td>
                <td width="15%">贷款金额（元）</td>
                <td width="30%"><span class="fl red">{{applyLoan.vehicleDealPrice-applyLoan.loanFirstPayment}}</span></td>
            </tr>
            <tr>
                <td width="15%">利率：</td>
                <td width="30%" ><span class="fl red">{{applyLoan.loanMonthlyInterestRate}}%/月</span></td>
                <td width="15%">期数</td>
                <td width="30%"><span class="fl red">{{applyLoan.loanTerms}}</span></td>
            </tr>
            <tr>
                <td>月供（元）：</td>
                <td>{{applyLoan.vehicleDealPrice*(1-applyLoan.loanRate/10)*(applyLoan.loanMonthlyInterestRate/100+1/applyLoan.loanTerms)}}</td>
                <td id="border-none" colspan="2 " ><div class="click round "><u>详细申请信息</u></div></td>
            </tr>
            </tbody>
        </table>
        <div class="hr"></div>
        <table class="mod-table1">
            <tbody>
            <tr>
                <td width="10%">评估价</td>
                <td>
                    <span class="fl bold red">{{applyLoan.vehiclePredictPrice}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <br/>
    <div class="row2" ng-show="applyLoan.status==4">
        <div class="mod-hd">
            <h2>复审结果</h2>
        </div>

        <div>
            <table class="mod-table1 clean">
                <tbody>
                <tr>
                    <td width="10%"><div class="width1"><span class="red">*</span>材料审核：</div> </td>
                    <td width="5%"><div class="consequence round div-button" ng-class="{'radio-checked':materialReal}" ng-click="materialReal=!materialReal;materialFake=false">材料真实</div></td>
                    <td width="5%"><div class="consequence round div-button" ng-class="{'radio-checked':materialFake}" ng-click="materialFake=!materialFake;materialReal=false">材料虚假</div></td>
                    <td width="5%"></td>
                    <td width="5%"></td>
                    <td width="20%"></td>
                    <td width="50%"></td>
                </tr>
                <tr>
                    <td width="10%"><div class="width1 inline "><span class="red ">*</span>客户信用记录：</div></td>
                    <td width="5%"><div class="consequence round div-button" ng-class="{'radio-checked':creditBest}" ng-click="creditBest=!creditBest;creditGood=creditBad=false">优秀</div></td>
                    <td width="5%"><div class="consequence round div-button" ng-class="{'radio-checked':creditGood}" ng-click="creditGood=!creditGood;creditBest=creditBad=false">良好</div></td>
                    <td width="5%"><div class="consequence round div-button" ng-class="{'radio-checked':creditBad}" ng-click="creditBad=!creditBad;creditBest=creditGood=false">不合格</div></td>
                    <td width="5%"><div class="width2"><span class="red jieguo">*</span>评审标准：</div> </td>
                    <td width="20%">
                        <div class="comm-inp-wp">
                            <input type="text" class="comm-input1" ng-model="creditRemark">
                        </div>
                    </td>
                    <td width="50%"></td>
                </tr>
                <tr>
                    <td width="10%"><div class="width1 inline "><span class="red">*</span>客户还款能力：</div> </td>
                    <td width="5%"><div class="consequence round div-button" ng-class="{'radio-checked':paybackBest}" ng-click="paybackBest=!paybackBest;paybackGood=paybackBad=false">优秀</div></td>
                    <td width="5%"><div class="consequence round div-button" ng-class="{'radio-checked':paybackGood}" ng-click="paybackGood=!paybackGood;paybackBest=paybackBad=false">良好</div></td>
                    <td width="5%"><div class="consequence round div-button" ng-class="{'radio-checked':paybackBad}" ng-click="paybackBad=!paybackBad;paybackBest=paybackGood=false">不合格</div></td>
                    <td width="5%"><div class="width2"><span class="red">*</span>评审标准：</div></td>
                    <td width="20%">
                        <div class="comm-inp-wp">
                            <input type="text" class="comm-input1" ng-model="paybackRemark">
                        </div>
                    </td>
                    <td width="50%"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row2" ng-show="applyLoan.status==10">

        <div class="row3 ">
            <div class="mod-hd">
                <h2>申请重新审核</h2>
            </div>
            <div class="the-reason">
                <div class="inline reason">
                    理由：
                </div>
                <div class="inline write_area">
                    <span>{{applyLoan.materialsRemark}}</span>
                </div>
            </div>
            <div class="add-message">
                <div class="inline reason">
                    补充材料:
                </div>：

                <div class="inline">
                    <div class="upload">
                        <a href="javascript:void(0);"><img class="add " id="add" src="/resources/img/add.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="mod-hd">
            <h2>上次审核结果</h2>
        </div>
        <div class="the-reason">
            <div class="inline reason">
                理由：
            </div>
            <div class="inline show_area">
                <span>{{refuseReason}}</span>
            </div>
            <div class="inline show_area">
                <span>审核人：{{operateUserName}}</span>
            </div>
            <div class="inline show_area">
                <span>审核时间：{{createdTime}}</span>
            </div>
        </div>
    </div>



    <div class="footer">
        <button class="comm-btn comm-btn-blue fr footer-button" ng-click="refuse()">审核拒绝</button>
        <button class="comm-btn  fr footer-button" ng-click="pass()">审核通过</button>
        <div class=" a fr ">
            <img class="up-logo" src="/resources/img/up.jpg" alt="">
            <span>更多操作</span>
        </div>

    </div>


</div>