<div class="main" ng-controller="loanRecheckListController">
    <div class="loan-intention">
        <div class="loan-intention-row1">
            <table class="mod-table1 mod-table1-ex">
                <tr>
                    <td width="33.333333%">
                        <table class="mod-subtable">
                            <tr>
                                <td width="25%"><label class="comm-field-t">姓名:</label></td>
                                <td width="75%">
                                    <div class="comm-inp-wp name_cell">
                                        <input type="text" class="comm-input1">
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td width="33.333333%">
                        <table class="mod-subtable">
                            <tr>
                                <td width="25%"><label class="comm-field-t">联系方式:</label></td>
                                <td width="75%">
                                    <div class="comm-inp-wp">
                                        <input type="text" class="comm-input1" >
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td width="33.333333%">
                        <table class="mod-subtable">
                            <tr>
                                <td width="25%"><label class="comm-field-t">来源：</label></td>
                                <td width="75%">

                                    <div class="comm-inp-wp">
                                        <select class="comm-select1">
                                            <option selected="selected">请选择</option>
                                            <option>来源1</option>
                                            <option>来源2</option>
                                        </select>
                                    </div>


                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table class="mod-subtable">
                            <tr>
                                <td width="25%"><label class="comm-field-t">提交日期：</label></td>
                                <td width="75%">

                                    <div class="comm-inp-wp data_cell ">
                                        <input type="text" class="comm-input1">
                                    </div>
                                    <div class="data_cell_">——</div>
                                    <div class="comm-inp-wp data_cell">
                                        <input type="text" class="comm-input1">
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td colspan="2">
                        <div class="mod-state">
                            <table class="mod-subtable mod-subtable-state fl">
                                <tr>
                                    <td width="25%"><label class="comm-field-t">状态：</label></td>
                                    <td width="75%">
                                        <div class="comm-inp-wp">
                                            <select class="comm-select1">
                                                <option selected="selected">请选择</option>
                                                <option>状态1</option>
                                                <option>状态2</option>
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <button class="comm-btn comm-btn-blue fl">查询</button>
                            <button class="comm-btn comm-btn-blue fl">清除</button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <div class="man-manage-row2">
            <div class="bd">
                <ul class="mod-tabs clearfix">
                    <li class="item" ng-class="{'item-on':subTab.highlight}" ng-click="changeTab(i)" ng-repeat="(i, subTab) in subTabs" ng-show="subTab.show"><a href=""><span>{{subTab.name}}</span></a></li>
                </ul>
            </div>

            <table class="mod-table1">
                <thead>
                <tr>
                    <th width="8%">编号</th>
                    <th width="8%">申请人</th>
                    <th width="8%">联系方式</th>
                    <th width="8%">车型</th>
                    <th width="8%">地区</th>
                    <th width="8%">产品</th>
                    <th width="8%">贷款金额</th>
                    <th width="8%">跟进人</th>
                    <th width="8%">提交日期</th>
                    <th width="8%">状态</th>
                    <th width="12%">操作</th>
                </tr>
                </thead>
                <tbody>

                <tr ng-repeat = "loanapply in data.content">
                    <td>{{loanapply.id}}</td>
                    <td>{{loanapply.applicantName}}</td>
                    <td>{{loanapply.applicantMobileNumber}}</td>
                    <td>{{loanapply.vehicleDesc.split("/")[2]}}</td>
                    <td>{{cityJson.provincesList[cityJson.Citys[loanapply.sourceCityId].ProvinceId-1].Name}}-{{cityJson.Citys[loanapply.sourceCityId-1].Name}}</td>
                    <td>{{loanapply.productName}}</td>
                    <td id="red">{{loanapply.applicantLoanPrice}}</td>
                    <td>{{loanapply.sourceFinancialCommissioner}}</td>
                    <td>{{commonUtil.getDateFromInt(loanapply.modifiedTime)}}</td>
                    <td>{{loanStatuses[loanapply.status].name}}</td>
                    <td class="oper"><a href="" class="blue" ng-click="showDetail()">查看</a><a href="" class="blue" ng-click="check(loanapply)" ng-show="subTab.review && subTab.status == '4,10,12'">审核</a><a href="" class="blue" ng-click="reApply(loanapply)" ng-show="subTab.edit && subTab.status == 5">重新申请</a></td>
                </tr>
                </tbody>

            </table>
            <t-footer page-size = 'data.size' page-num = 'data.number' total-page = 'data.totalPages' total-num = 'data.totalElements' change-page-size-fun = 'changePageSizeFun(size)' goto-page-fun='gotoPageFun(page)'></t-footer>
        </div>
    </div>
</div>