<div class="main" ng-controller="signEditController">

    <div class="mod-hd">
        <h2>核准贷款方案</h2>
    </div>

    <div class="loan-application-row1">
        <table class="mod-table1">

            <tbody>
            <tr>
                <td width="15%">产品名称：</td>
                <td width="35%"><span class="fl">{{applyLoan.productName}}</span></td>
                <td width="15%">申请人：</td>
                <td width="35%"><span class="fl">{{applyLoan.applicantName}}</span></td>

            </tr>
            <tr>
                <td width="15%">证件号：</td>
                <td width="35%"><span class="fl">{{applyLoan.applicantCertificateNumber}}</span></td>
                <td width="15%">手机号码：</td>
                <td width="35%"><span class="fl">{{applyLoan.applicantMobileNumber}}</span></td>

            </tr>
            <tr>
                <td width="15%">车辆名称：</td>
                <td colspan="3"><span class="fl">{{commonUtil.getArrayFromString(applyLoan.vehicleDesc,'/')[2]}}</span></td>

            </tr>

            <tr>
                <td width="15%">车架号：</td>
                <td width="35%"><span class="fl">{{applyLoan.vehicleVin}}</span></td>
                <td width="15%">贷款金额（元）：</td>
                <td width="35%"><span class="fl red">{{applyLoan.reviewLoanPrice}}</span></td>

            </tr>

            <tr>
                <td width="15%">利率：</td>
                <td width="35%"><span class="fl">{{applyLoan.productLoanMonthlyInterestRate}}</span></td>
                <td width="15%">期数：</td>
                <td width="35%"><span class="fl">{{applyLoan.reviewLoanTerms}}</span></td>

            </tr>
            </tbody>

        </table>
    </div>

    <div class="loan-application-row2">
        <div class="mod-hd">
            <h2>签约</h2>
        </div>

        <table class="mod-table1">
            <thead >
            <tr>
                <th colspan="4"><span class="title fl">上传签约材料</span></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td width="15%"><span class="red">*</span>合同编号：</td>
                <td width="35%">
                    <div class="comm-inp-wp">
                        <input type="text" class="comm-input1" ng-model="contractNumber" maxlength="20">
                    </div>
                </td>
                <td width="15%"><span class="red">*</span>签约日期：</td>
                <td width="35%">
                    <div class="comm-inp-wp">
                        <adm-dtp ng-model='singData' options='{calType: "gregorian", format: "YYYY-MM-DD"}'></adm-dtp>
                    </div>
                </td>

            </tr>

            <tr height="300px">
                <td >
                    <span class="red">*</span>签约材料
                </td>

                <td colspan="3" ng-init="signPic=[]">
                    <div class="upload" desc="请上传签约材料" uploader="signPic1" uploaded-urls="signPic" index="0" image-url={{signPhotoes[0]}}></div>
                    <div class="upload" desc="请上传签约材料" uploader="signPic2" uploaded-urls="signPic" index="1" image-url={{signPhotoes[1]}}></div>
                    <div class="upload" desc="请上传签约材料" uploader="signPic3" uploaded-urls="signPic" index="2" image-url={{signPhotoes[2]}}></div>

                </td>
            </tr>

            </tbody>

        </table>

    </div>
    <div class="footer">
        <button class="comm-btn comm-btn-blue fr footer-button" ng-click="commit()">提交</button>
        <button class="comm-btn  fr footer-button"><a href="javascript:void(0);" ng-click="giveup()">放弃签约</a></button>
        <button class="comm-btn  fr footer-button" ng-click="cancel()">返回列表</button>

        <div class=" a fr ">
            <img class="up-logo" src="/resources/img/up.jpg" alt="">
            <span>更多操作</span>
        </div>

        <div class="login" ng-show="showGiveupDialog">
            <div class="login-title">放弃签约：<div class="close"><a href="javascript:void(0);"class="close-login" ng-click="doCancel()"><img id="close" src="/resources/img/close.png" alt=""/></a></div></div>
            <div class="login-input-content">
                <div class="login-input">
                    <label><span class="red"> *</span>放弃原因：</label>
                    <input type="text" placeholder="请输入放弃原因"  name="info[username]" id="username" class="list-input" ng-model="giveupReason"/>
                </div>
            </div>

            <div class="button-area">
                <button class="comm-btn login-button button-left" ng-click="doCancel()"><a href="javascript:void(0);" >返回列表</a></button>
                <button class="comm-btn login-button button-right" ng-click="doGiveup()"><a href="javascript:void(0);" >确认</a></button>
            </div>

        </div>


    </div>
</div>