<div class="main" ng-controller="signViewController">

    <div class="mod-hd">
        <h2>核准贷款方案</h2>
    </div>

    <div class="loan-application-row1">
        <table class="mod-table1">

            <tbody>
            <tr>
                <td width="15%">产品名称：</td>
                <td width="35%"><span class="fl">{{applyLoan.productName}}</span></td>
                <td width="15%">申请人：</td>
                <td width="35%"><span class="fl">{{applyLoan.applicantName}}</span></td>

            </tr>
            <tr>
                <td width="15%">证件号：</td>
                <td width="35%"><span class="fl">{{applyLoan.applicantCertificateNumber}}</span></td>
                <td width="15%">手机号码：</td>
                <td width="35%"><span class="fl">{{applyLoan.applicantMobileNumber}}</span></td>

            </tr>
            <tr>
                <td width="15%">车辆名称：</td>
                <td colspan="3"><span class="fl">{{commonUtil.getArrayFromString(applyLoan.vehicleDesc,"/")[2]}}</span></td>
            </tr>

            <tr>
                <td width="15%">车架号：</td>
                <td width="35%"><span class="fl">{{applyLoan.vehicleVin}}</span></td>
                <td width="15%">贷款金额（元）：</td>
                <td width="35%"><span class="fl red">{{applyLoan.applicantLoanPrice}}</span></td>
            </tr>

            <tr>
                <td width="15%">利率：</td>
                <td width="35%"><span class="fl">{{applyLoan.productLoanMonthlyInterestRate}}</span></td>
                <td width="15%">期数：</td>
                <td width="35%"><span class="fl">{{applyLoan.loanTerms}}</span></td>
            </tr>
            </tbody>

        </table>
    </div>

    <div class="loan-application-row2">
        <div class="mod-hd">
            <h2>签约</h2>
        </div>

        <table class="mod-table1">
            <thead >
            <tr>
                <th colspan="4"><span class="title fl">上传签约材料</span></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td width="15%"><span class="red">*</span>合同编号：</td>
                <td width="35%">
                    {{applyLoan.contractNumber}}
                </td>
                <td width="15%"><span class="red">*</span>签约日期：</td>
                <td width="35%">
                    {{applyLoan.contractCreatedTime}}
                </td>
            </tr>

            <tr height="300px">
                <td >
                    <span class="red">*</span>签约材料
                </td>
                <td colspan="3">
                    <div class="upload" desc="请上传签约材料" uploader="signPic1" uploaded-urls="signPic" index="0" image-url={{signPhotoes[0]}}></div>
                    <div class="upload" desc="请上传签约材料" uploader="signPic2" uploaded-urls="signPic" index="1" image-url={{signPhotoes[1]}}></div>
                    <div class="upload" desc="请上传签约材料" uploader="signPic3" uploaded-urls="signPic" index="2" image-url={{signPhotoes[2]}}></div>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="the-reason">
            <div class="inline reason">
                理由：
            </div>
            <div class="inline write_area">
                <textarea class="label" cols="100%" rows="5" ng-model="reason"></textarea>
            </div>
        </div>

    </div>
    <div class="footer">
        <button class="comm-btn comm-btn-blue fr footer-button" ng-click="doReview(3)">通过</button>
        <button class="comm-btn  fr footer-button"><a href="javascript:void(0);" ng-click="doReview(4)">拒绝</a></button>
    </div>
</div>