<div class="main" ng-controller="signListController">
    <div class="loan-intention">
        <loan-filter></loan-filter>

        <div class="man-manage-row2">
            <div class="bd">
                <ul class="mod-tabs clearfix">
                    <li class="item" ng-class="{'item-on':subTab.highlight}" ng-click="changeTab(i)" ng-repeat="(i, subTab) in subTabs" ng-show="subTab.show"><a href=""><span>{{subTab.name}}</span></a></li>
                </ul>
            </div>

            <table class="mod-table1">
                <thead>
                <tr>
                    <th width="8%">编号</th>
                    <th width="8%">申请人</th>
                    <th width="8%">联系方式</th>
                    <th width="8%">车型</th>
                    <th width="8%">地区</th>
                    <th width="8%">产品</th>
                    <th width="8%">申请贷款方案</th>
                    <th width="8%">审批方案</th>
                    <th width="8%">跟进人</th>
                    <th width="8%">提交日期</th>
                    <th width="8%">状态</th>
                    <th width="12%">操作</th>
                </tr>
                </thead>
                <tbody>

                <tr ng-repeat = "loanapply in data.content">
                    <td>{{loanapply.id}}</td>
                    <td>{{loanapply.applicantName}}</td>
                    <td>{{loanapply.applicantMobileNumber}}</td>
                    <td>{{loanapply.vehicleSeries}}</td>
                    <td>{{cityJson.provincesList[cityJson.Citys[loanapply.sourceCityId].ProvinceId-1].Name}}-{{cityJson.Citys[loanapply.sourceCityId-1].Name}}</td>
                    <td>{{loanapply.productName}}</td>
                    <td>{{loanapply.vehiclePredictPrice}}（{{loanapply.loanTerms}}期）</td>
                    <td class="red">{{loanapply.vehiclePredictPrice}}（{{loanapply.loanTerms}}期）</td>
                    <td>{{loanapply.sourceFinancialCommissioner}}</td>
                    <td>{{commonUtil.getDateFromInt(loanapply.modifiedTime)}}</td>
                    <td>{{loanStatuses[loanapply.status].name}}</td>
                    <td class="oper">
                        <a href="" class="blue" ng-show="subTab.show">查看</a>
                        <a href="" class="blue" ng-click="operate(loanapply)" ng-show="subTab.review && loanapply.status == 6">签约</a>
                        <a href="" class="blue" ng-click="review(loanapply)" ng-show="subTab.review && loanapply.status == 37">审核</a>
                    </td>
                </tr>

                </tbody>

            </table>
            <t-footer page-size = 'data.size' page-num = 'data.number' total-page = 'data.totalPages' total-num = 'data.totalElements' change-page-size-fun = 'changePageSizeFun(size)' goto-page-fun='gotoPageFun(page)'></t-footer>
        </div>
    </div>
</div>