<div class="main" ng-controller="afterMortgageListController">
    <div class="loan-intention">
        <loan-filter></loan-filter>

        <div class="man-manage-row2">
            <div class="bd">
                <ul class="mod-tabs clearfix">
                    <li class="item" ng-class="{'item-on':subTab.highlight}" ng-click="changeTab(i)" ng-repeat="(i, subTab) in subTabs" ng-show="subTab.show"><a href=""><span>{{subTab.name}}</span></a></li>
                </ul>
            </div>

            <table class="mod-table1">
                <thead>
                <tr >
                    <th width="9%">编号</th>
                    <th width="9%">申请人</th>
                    <th width="9%">联系方式</th>
                    <th width="9%">车型</th>
                    <th width="9%">地区</th>
                    <th width="9%">产品</th>
                    <th width="9%">贷款方案</th>
                    <th width="9%">跟进人</th>
                    <th width="9%">提交日期</th>
                    <th width="9%">状态</th>
                    <th width="9%">操作</th>
                </tr>
                </thead>
                <tbody>

                <tr ng-repeat = "loanapply in data.content">
                    <td>{{loanapply.id}}</td>
                    <td>{{loanapply.applicantName}}</td>
                    <td>{{loanapply.applicantMobileNumber}}</td>
                    <td>{{commonUtil.getArrayFromString(loanapply.vehicleDesc,"/")[2]}}</td>
                    <td>{{cityJson.provincesList[cityJson.Citys[loanapply.sourceCityId].ProvinceId-1].Name}}-{{cityJson.Citys[loanapply.sourceCityId-1].Name}}</td>
                    <td>{{loanapply.productName}}</td>
                    <td id="red">{{loanapply.reviewLoanPrice}}（{{loanapply.reviewLoanTerms}}期）</td>
                    <td>{{loanapply.sourceFinancialCommissioner}}</td>
                    <td>{{commonUtil.getDateFromInt(loanapply.modifiedTime)}}</td>
                    <td>{{loanStatuses[loanapply.status].name}}</td>
                    <td class="oper"><a href="" class="blue">查看</a>
                        <a href="" class="blue" ng-click="uploadLendingResult(loanapply)" ng-show="loanapply.status == 25 && subTab.edit">办理</a>
                        <a href="" class="blue" ng-click="uploadLendingResult(loanapply)" ng-show="loanapply.status == 28 && subTab.edit">重新上传</a>
                        <a href="" class="blue" ng-click="check(loanapply, 'release')" ng-show="loanapply.releaseStatus == 2 && subTab.edit">放款</a>
                        <a href="" class="blue" ng-click="check(loanapply, 'release')" ng-show="loanapply.releaseStatus == 4 && subTab.edit">重新放款</a>
                        <a href="" class="blue" ng-click="check(loanapply)" ng-show="loanapply.status == 36 && subTab.review">编辑</a>
                        <a href="" class="blue" ng-click="check(loanapply)" ng-show="loanapply.status == 26 && subTab.review">审核</a>
                        <a href="" class="blue" ng-click="check(loanapply)" ng-show="(loanapply.status == 29 || loanapply.status == 33) && subTab.review">审核</a></td>
                    </tr>
                </tbody>

            </table>
            <t-footer page-size = 'data.size' page-num = 'data.number' total-page = 'data.totalPages' total-num = 'data.totalElements' change-page-size-fun = 'changePageSizeFun(size)' goto-page-fun='gotoPageFun(page)'></t-footer>
        </div>
    </div>
</div>