<div class="main" ng-controller="mortgageEditController">

    <div class="mod-hd">
        <h2>贷款信息</h2>
    </div>

    <div class="loan-application-row1">
        <table class="mod-table1">

            <tbody>
            <tr>

                <td width="15%">申请人：</td>
                <td width="35%"><span class="fl">{{applyLoan.applicantName}}</span></td>
                <td width="15%">手机号码：</td>
                <td width="35%"><span class="fl">{{applyLoan.applicantMobileNumber}}</span></td>


            </tr>
            <tr>
                <td width="15%">车辆名称：</td>
                <td width="35%"><span class="fl">{{applyLoan.vehicleSeries}}</span></td>
                <td width="15%">车架号：</td>
                <td width="35%"><span class="fl">{{applyLoan.vehicleVin}}</span></td>

            </tr>

            <tr>

                <td width="15%">产品名称：</td>
                <td width="35%"><span class="fl">{{applyLoan.productName}}</span></td>
                <td width="15%">贷款金额（元）：</td>
                <td width="35%"><span class="fl red">{{applyLoan.applicantLoanPrice}}</span></td>

            </tr>

            <tr>
                <td width="15%">利率：</td>
                <td width="35%"><span class="fl">{{applyLoan.productLoanMonthlyInterestRate}}</span></td>
                <td width="15%">期数：</td>
                <td width="35%"><span class="fl">{{applyLoan.loanTerms}}</span></td>

            </tr>
            </tbody>

        </table>
    </div>

    <div class="loan-application-row2">
        <div class="mod-hd">
            <h2>上传过户材料</h2>
        </div>

        <table class="mod-table1">
            <thead >
            <tr>
                <th colspan="4"><span class="title fl">上传过户材料</span></th>
            </tr>
            </thead>
            <tbody>
            <tr>

                <td width="15%"><span class="red">*</span>过户完成日期日期：</td>
                <td width="35%">
                    <div class="comm-inp-wp">
                        <adm-dtp ng-model='applyLoan.transferCreatedTime' options='{calType: "gregorian", format: "YYYY-MM-DD"}'></adm-dtp>
                    </div>
                </td>
                <td width="15%"><span class="red">*</span>过户后车牌号：</td>
                <td width="35%">
                    <div class="comm-inp-wp">
                        <input type="text" class="comm-input1" ng-model="applyLoan.transferCardNumber">
                    </div>
                </td>

            </tr>

            <tr height="300px">
                <td >
                    <span class="red">*</span>过户材料
                </td>

                <td colspan="3">
                    <div class="upload" desc="请上传过户材料" uploader="transferPic1" uploaded-urls="transferPic" index="0" image-url={{transferPhotos[0]}}></div>
                    <div class="upload" desc="请上传过户材料" uploader="transferPic2" uploaded-urls="transferPic" index="1" image-url={{transferPhotos[1]}}></div>
                    <div class="upload" desc="请上传过户材料" uploader="transferPic3" uploaded-urls="transferPic" index="2" image-url={{transferPhotos[2]}}></div>

                </td>
            </tr>
            <tr height="300px">
                <td >
                    <span class="red">*</span>GPS安装
                </td>

                <td colspan="3">
                    <div class="upload" desc="请上传GPS安装材料" uploader="GPSPic1" uploaded-urls="GPSPic" index="0" image-url={{GPSPhotos[0]}}></div>
                    <div class="upload" desc="请上传GPS安装材料" uploader="GPSPic2" uploaded-urls="GPSPic" index="1" image-url={{GPSPhotos[1]}}></div>
                    <div class="upload" desc="请上传GPS安装材料" uploader="GPSPic3" uploaded-urls="GPSPic" index="2" image-url={{GPSPhotos[2]}}></div>

                </td>
            </tr>
            <tr height="300px">
                <td >
                    <span class="red">*</span>保险合同
                </td>

                <td colspan="3">
                    <div class="upload" desc="请上传保险合同材料" uploader="insuranceContractPic1" uploaded-urls="insuranceContractPic" index="0" image-url={{insuranceContractPhotos[0]}}></div>
                    <div class="upload" desc="请上传保险合同材料" uploader="insuranceContractPic2" uploaded-urls="insuranceContractPic" index="1" image-url={{insuranceContractPhotos[1]}}></div>
                    <div class="upload" desc="请上传保险合同材料" uploader="insuranceContractPic3" uploaded-urls="insuranceContractPic" index="2" image-url={{insuranceContractPhotos[2]}}></div>

                </td>
            </tr>

            </tbody>

        </table>

    </div>
    <div class="loan-application-row2">
        <div class="mod-hd">
            <h2>上传抵押材料</h2>
        </div>

        <table class="mod-table1">
            <tbody>
            <tr>

                <td width="15%"><span class="red">*</span>抵押日期：</td>
                <td width="35%">
                    <div class="comm-inp-wp">
                        <adm-dtp ng-model='applyLoan.mortgageCreatedTime' options='{calType: "gregorian", format: "YYYY-MM-DD"}'></adm-dtp>
                    </div>
                </td>

            </tr>

            <tr height="300px">
                <td >
                    <span class="red">*</span>抵押材料
                </td>

                <td colspan="3">
                    <div class="upload" desc="请上传抵押材料" uploader="mortggePic1" uploaded-urls="mortgagePic" index="0" image-url={{mortgagePhotos[0]}}></div>
                    <div class="upload" desc="请上传抵押材料" uploader="mortgagePic2" uploaded-urls="mortgagePic" index="1" image-url={{mortgagePhotos[1]}}></div>
                    <div class="upload" desc="请上传抵押材料" uploader="mortgagePic3" uploaded-urls="mortgagePic" index="2" image-url={{mortgagePhotos[2]}}></div>


                </td>
            </tr>

            </tbody>

        </table>

    </div>
    <div class="footer">
        <button class="comm-btn comm-btn-blue fr footer-button" ng-click="commit()">提交</button>
        <button class="comm-btn  fr footer-button"><a href="javascript:void(0);" ng-click="failTransfer()">无法过户</a></button>
        <button class="comm-btn  fr footer-button" ng-click="cancel()">返回列表</button>

        <div class=" a fr ">
            <img class="up-logo" src="/resources/img/up.jpg" alt="">
            <span>更多操作</span>
        </div>

        <div class="login" ng-show="showGiveupDialog">
            <div class="login-title">无法过户：<div class="close"><a href="javascript:void(0);"class="close-login" ng-click="doCancel()"><img id="close" src="/resources/img/close.png" alt=""/></a></div></div>
            <div class="login-input-content">
                <div class="login-input">
                    <label><span class="red"> *</span>无法过户原因：</label>
                    <input type="text" placeholder="请输入无法过户原因"  name="info[username]" id="username" class="list-input" ng-model="giveupReason"/>
                </div>
            </div>

            <div class="button-area">
                <button class="comm-btn login-button button-left" ng-click="doCancel()"><a href="javascript:void(0);" >返回列表</a></button>
                <button class="comm-btn login-button button-right" ng-click="doFailTransfer()"><a href="javascript:void(0);" >确认</a></button>
            </div>

        </div>


    </div>
</div>