<div cass="main" style="margin-left: 50px;" ng-controller="manPasswordController">
    <form name="manPasswordForm" ng-submit="commit()">
    <div class="mod-hd">
        <h2>人员信息</h2>
    </div>

    <div class="table">
        <table class="mod-table1">
            <tbody>
            <tr>
                <td><span class="star">*</span>旧密码</td>
                <td>
                    <div class="comm-inp-wp">
                        <input type="password" class="comm-input1" name="oldPassword" ng-model="oldPassword" minlength="6" maxlength="20" required>
                    </div>
                </td>
            </tr>
            <tr>
                <td><span class="star">*</span>新密码</td>
                <td>
                    <div class="comm-inp-wp">
                        <input type="password" class="comm-input1" name="newPassword1" ng-model="newPassword1" minlength="6" maxlength="20" required>
                    </div>
                </td>
            </tr>
            <tr>
                <td><span class="star">*</span>重新输入新密码</td>
                <td>
                    <div class="comm-inp-wp">
                        <input type="password" class="comm-input1" name="newPassword2" ng-model="newPassword2" minlength="6" maxlength="20" required>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="but" style="padding-top: 20px; clear: both;">
        <input type="submit" class="comm-btn comm-btn-blue fl button1" value="保存"/>
        <button class="comm-btn comm-btn-blue fl button1" ng-click="cancelPassword()">取消</button>
    </div>

    <div style="margin-top: 20px; height:20px;"></div>
    </form>
</div>