<form name="userForm" ng-controller="addManController" ng-submit="commit()">
<div cass="main" style="margin-left: 50px;">
    <div class="mod-hd">
        <h2>人员信息</h2>
    </div>

    <div class="table">
        <table class="mod-table1">
            <tbody>
            <tr>
                <td><span class="star">*</span>人员姓名</td>
                <td>
                    <div class="comm-inp-wp">
                        <input type="text" class="comm-input1" name="name" ng-model="name" ng-minlength="2" ng-maxlength="30" required>
                    </div>
                </td>
            </tr>
            <tr>
                <td><span class="star">*</span>所属部门</td>
                <td>
                    <div class="comm-inp-wp">
                        <select class="comm-select1" name="dept" ng-model="dept" ng-options = "d.name for d in depts">
                        </select>
                    </div>
                </td>
                </td>

            </tr>
            <tr>
                <td><span class="star">*</span>照片</td>
                <td>
                    <div class="upload" desc="头像照片" uploader="avatar" uploaded-urls="avatar" index="0" image-url={{photo}}></div>
                </td>
            </tr>
            <tr>
                <td><span class="star">*</span>账号</td>
                <td>
                    <div class="comm-inp-wp">
                        <input type="text" class="comm-input1" name="account" ng-model="account" ng-minlength="3" ng-maxlength="20" required  ng-disabled="isEdit">
                    </div>
                </td>
            </tr>
            <tr>
                <td><span class="star">*</span>手机号码</td>
                <td>
                    <div class="comm-inp-wp">
                        <input type="text" class="comm-input1" name="tel" ng-model="tel" required>
                    </div>
                </td>
            </tr>
            <tr>
                <td><span class="star">*</span>电子邮箱</td>
                <td>
                    <div class="comm-inp-wp">
                        <input type="email" class="comm-input1" name="email" ng-model = "email" required>
                    </div>
                </td>
            </tr>
            <tr>
                <td><span class="star">*</span>身份证号</td>
                <td>
                    <div class="comm-inp-wp">
                        <input type="text" class="comm-input1" name="idNum" ng-model="idNum" required>
                    </div>
                </td>
            </tr>

            <tr>
                <td><span class="star">*</span>身份证照片</td>
                <td>
                    <div class="upload" desc="身份证正面照片" uploader="identification1" uploaded-urls="identification" index="0" image-url={{identityPhotos[0]}}></div>
                    <div class="upload" desc="身份证反面照片" uploader="identification2" uploaded-urls="identification" index="1" image-url={{identityPhotos[1]}}></div>
                </td>
            </tr>
            <tr>
                <td><span class="star">*</span>住址</td>
                <td>
                    <div class="comm-inp-wp">
                        <input type="text" class="comm-input1" name="address" ng-model="address" required>
                    </div>
                </td>
            </tr>
            <tr>
                <td><span class="star">*</span>紧急联系人</td>
                <td>
                    <div class="comm-inp-wp">
                        <input type="text" class="comm-input1" name="emergencyContact" ng-model="emergencyContact" required>
                    </div>
                </td>
            </tr>
            <tr>
                <td><span class="star">*</span>紧急联系方式</td>
                <td>
                    <div class="comm-inp-wp">
                        <input type="text" class="comm-input1" name="emergencyContactTel" ng-model="emergencyContactTel" required>
                    </div>
                </td>
            </tr>
            </tbody>


        </table>
    </div>

    <div class="mod-hd">
        <h2>人员岗位信息</h2>
    </div>
    <div class="table">
        <div ng-repeat="postType in displayPosts">
            <div class="table-head" style="font-size: larger; font-weight: bolder; padding-left: 10px; line-height:10px; background-color: #989898;">{{postType.key}}</div>
            <div class="table-body">
                <div class="tb">
                    <div class="tba" ng-repeat="post in postType.value"><div class="bd" style="line-height:18px;"><div class="cell_box"><input type="checkbox" value="{{post.id}}" ng-checked="isSelected(post.id)" ng-click="updateSelection($event,post.id)"></div>{{post.name}}</div></div>
                </div>
            </div>
        </div>
    </div>

    <div class="but" style="padding-top: 20px; clear: both;">
        <input type="submit" class="comm-btn comm-btn-blue fl button1" value="保存"/>
        <button class="comm-btn comm-btn-blue fl button1">取消</button>
    </div>

    <div style="margin-top: 20px; height:20px;"></div>
</div>
</form>