<div class="main" ng-controller="editLoanapplyController">

    <div class="mod-hd">
        <h2>贷款申请</h2>
    </div>

    <div class="loan-application-row1">
        <table class="mod-table1">
            <thead>
            <tr>
                <th colspan="4"><span class="title">业务来源</span></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td width="20%"><span class="red">*</span>来源地区：</td>
                <td width="30%"><span class="cell">{{cityJson.Citys[selectedDraft.sourceCityId-1].Name}}</span></td>
                <td width="20%"><span class="red">*</span>跟金融专员：</td>
                <td width="30%"><span class="cell">{{selectedDraft.sourceFinancialCommissioner}}</span></td>
            </tr>
            <tr>
                <td width="20%"><span class="red">*</span>来源渠道：</td>
                <td width="30%">
                    <div class="comm-inp-wp">
                        <select class="comm-select1" ng-model="selectedSource" ng-options = "source.name for source in sources">
                            <option value="">请选择</option>
                        </select>
                    </div>
                </td>
                <td width="20%"><span class="red">*</span>收单员：</td>
                <td width="30%">
                    <div class="comm-inp-wp">
                        {{selectedDraft.sourceReceiver}}
                    </div>
                </td>
            </tr>
            <tr>
                <td width="20%"><span class="red">*</span>来源联系人姓名：</td>
                <td width="30%">
                    <div class="comm-inp-wp">
                        <input type="text" class="comm-input1" ng-model="selectedDraft.sourcePersonName">
                    </div>
                </td>
                <td width="20%"><span class="red">*</span>来源人手机号码：</td>
                <td width="30%">
                    <div class="comm-inp-wp">
                        <input type="text" class="comm-input1" ng-model="selectedDraft.sourcePersonTel">
                    </div>
                </td>
            </tr>
            </tbody>

        </table>
    </div>

    <div class="loan-application-row2">
        <table class="mod-table1">
            <thead>
            <tr>
                <th colspan="4"><span class="title">申请人信息</span></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td width="20%"><span class="red">*</span>申请人姓名：</td>
                <td width="30%">
                    <div class="comm-inp-wp">
                        <input type="text" class="comm-input1" ng-model="selectedDraft.applicantName">
                    </div>
                </td>
                <td width="20%"><span class="red">*</span>婚姻状况：</td>
                <td width="30%">
                    <div class="comm-inp-wp">
                        <select class="comm-select1" ng-model="selectedMarriages" ng-options = "marriage.name for marriage in marriages">
                            <option value="">请选择</option>
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td width="20%"><span class="red">*</span>证件种类：</td>
                <td width="30%">
                    <div class="comm-inp-wp">
                        <select class="comm-select1" ng-model="selectedIDType" ng-options = "IDType.name for IDType in IDTypes">
                            <option value="">请选择</option>
                        </select>
                    </div>
                </td>
                <td width="20%"><span class="red">*</span>证件号码：</td>
                <td width="30%">
                    <div class="comm-inp-wp">
                        <input type="text" class="comm-input1" ng-model="selectedDraft.applicantCertificateNumber">
                    </div>
                </td>
            </tr>

            <tr>
                <td width="20%"><span class="red">*</span>出生日期：</td>
                <td width="30%">
                    <div class="comm-inp-wp">
                        <adm-dtp ng-model='birth' options='{calType: "gregorian", format: "YYYY-MM-DD", default: "today"}'></adm-dtp>
                    </div>
                </td>
                <td width="20%"><span class="red">*</span>性别：</td>
                <td width="30%">
                    <div class="multiple-choice"><input type="radio"  name="gender" value="0" ng-model="selectedDraft.applicantGender" ng-checked="selectedDraft.applicantGender==0"> 男 <span>&emsp;</span><input type="radio" name="gender" value="1" ng-model="selectedDraft.applicantGender" ng-checked="selectedDraft.applicantGender==1">女</div>
                </td>
            </tr>
            <tr>
                <td width="20%"><span class="red">*</span>手机号码：</td>
                <td width="30%">
                    <div class="comm-inp-wp">
                        <input type="text" class="comm-input1" ng-model="selectedDraft.applicantMobileNumber">
                    </div>
                </td>
                <td width="20%"><span class="red">*</span>学历：</td>
                <td width="30%">
                    <div class="comm-inp-wp">
                        <select class="comm-select1" ng-model="selectedDraft.applicantQualification" ng-options = "qualification for qualification in qualifications">
                            <option value="">请选择</option>
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td width="20%"><span class="red">*</span>本地户籍：</td>
                <td width="30%">
                    <div class="multiple-choice">
                        <input type="radio" name="census"  value="0" ng-model="selectedDraft.applicantCensus" ng-checked="selectedDraft.applicantCensus==cityJson.Citys[selectedDraft.sourceCityId-1].Name"> 是
                        <span>&emsp;</span>
                        <input type="radio" name="census" value="1" ng-model="selectedDraft.applicantCensus" ng-checked="selectedDraft.applicantCensus!=cityJson.Citys[selectedDraft.sourceCityId-1].Name">否
                    </div>
                </td>
                <td width="20%"><span class="red">*</span> 本人月收入：</td>
                <td width="30%">
                    <div class="comm-inp-wp">
                        <input type="text" class="comm-input1" ng-model="selectedDraft.applicantIncomePerMonth">
                    </div>
                </td>
            </tr>
            <tr>
                <td ><span class="red">*</span>现居住地址：</td>
                <td colspan="3">
                    <div class="comm-inp-wp">
                        <input type="text" class="comm-input1" ng-model="selectedDraft.applicantAddress">
                    </div>
                </td>
            </tr>
            <tr>
                <td width="20%">住宅电话：</td>
                <td width="30%">
                    <div class="comm-inp-wp inline two">
                        <input type="text" class="comm-input1" ng-model="areaNumber">
                    </div>
                    <div class="inline mt">&emsp;--&emsp;</div>
                    <div class="comm-inp-wp inline five">
                        <input type="text" class="comm-input1" ng-model="telephone">
                    </div>
                </td>
                <td width="20%"><span class="red">*</span> 房产、车辆：</td>
                <td width="30%">
                    <div class="wealth">自有房产</div>
                    <div class="wealth wealth-in">自有车辆</div>
                </td>
            </tr>


            </tbody>

        </table>
        <table class="mod-table1 personal-label">
            <thead>
            <tr>
                <th colspan="6"><span class="title">申请人职业</span></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td ><span class="red">*</span>现工作单位：</td>
                <td colspan="3">
                    <div class="comm-inp-wp">
                        <input type="text" class="comm-input1" ng-model="selectedDraft.applicantEmployerName">
                    </div>
                </td>

            </tr>
            <tr>

                <td ><span class="red">*</span>现单位地址：</td>
                <td colspan="3">
                    <div class="comm-inp-wp">
                        <input type="text" class="comm-input1" ng-model="selectedDraft.applicantEmployerAddress">
                    </div>
                </td>

            </tr>
            <tr>
                <td width="20%">现单位电话：</td>
                <td width="30%">
                    <div class="comm-inp-wp inline two">
                        <input type="text" class="comm-input1" ng-model="companyAreaNumber">
                    </div>
                    <div class="inline mt">&emsp;--&emsp;</div>
                    <div class="comm-inp-wp inline five">
                        <input type="text" class="comm-input1" ng-model="companyTelephone">
                    </div>
                </td>
                <td width="20%"><span class="red">*</span>现单位工作年限：</td>
                <td width="30%">
                    <div class="comm-inp-wp">
                        <select class="comm-select1" ng-model="selectedDraft.applicantWorkYears" ng-options = "year for year in years">
                            <option value="">请选择</option>
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td width="20%">现单位性质：</td>
                <td width="30%">
                    <div class="comm-inp-wp">
                        <select class="comm-select1" ng-model="selectedDraft.applicantEmployerType" ng-options = "companyType for companyType in companyTypes">
                            <option value="">请选择</option>
                        </select>
                    </div>
                </td>
                <td width="20%"><span class="red">*</span>现单位所属行业：</td>
                <td width="30%">
                    <div class="comm-inp-wp">
                        <select class="comm-select1" ng-model="selectedDraft.applicantEmployerIndustry" ng-options = "industry for industry in industries">
                            <option value="">请选择</option>
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td width="20%"><span class="red">*</span>职务：</td>
                <td width="30%">
                    <div class="comm-inp-wp">
                        <select class="comm-select1" ng-model="selectedDraft.applicantPosition" ng-options = "position for position in positiones">
                            <option value="">请选择</option>
                        </select>
                    </div>
                </td>
                <td width="20%"><span class="red">*</span>职称：</td>
                <td width="30%">
                    <div class="comm-inp-wp">
                        <select class="comm-select1" ng-model="selectedDraft.applicantJobTitle" ng-options = "jobTitle for jobTitle in jobTitles">
                            <option value="">请选择</option>
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td width="20%"><span class="red">*</span>本人职业：</td>
                <td width="30%">
                    <div class="comm-inp-wp">
                        <select class="comm-select1" ng-model="selectedDraft.applicantOccupation" ng-options = "occupation for occupation in occupationes">
                            <option value="">请选择</option>
                        </select>
                    </div>
                </td>
                <td width="20%"><span class="red">*</span>本人岗位：</td>
                <td width="30%">
                    <div class="comm-inp-wp">
                        <select class="comm-select1" ng-model="selectedDraft.applicantPost" ng-options = "post for post in posts">
                            <option value="">请选择</option>
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td ><span class="red">*</span>邮件邮寄地址：</td>
                <td colspan="3">
                    <div class="multiple-choice"><input type="radio" name="gender" ng-click="changePostAddress(1)"> 单位 <span>&emsp;</span><input type="radio" name="gender" ng-click="changePostAddress(2)">住宅<span>&emsp;</span><input type="radio" name="gender" ng-click="changePostAddress(3)">其他
                        </div>
                    <div class="comm-inp-wp width-short" ng-show="otherAddress">
                        <input type="text" class="comm-input1" ng-model="selectedDraft.applicantPostAddress" >
                    </div>

                </td>
            </tr>
            <tr>
                <td ><span class="red">*</span>收件邮政编码：</td>
                <td colspan="3">
                    <div class="comm-inp-wp width-short">
                        <input type="text" class="comm-input1" ng-model="selectedDraft.areaCode">
                    </div>
                </td>
            </tr>

            <tr height="300px">
                <td >
                    <span class="star">*</span>身份证文件
                </td>

                <td colspan="3">
                    <div class="upload">
                        <a href="javascript:void(0);"><img class="add" src="/resources/img/add.png" alt=""></a>
                    </div>
                    <div class="upload">
                        <a href="javascript:void(0);"><img class="add" src="/resources/img/add.png" alt=""></a>
                    </div>
                    <div class="upload">
                        <a href="javascript:void(0);"><img class="add" src="/resources/img/add.png" alt=""></a>
                        <div class="upload_1">请上传身份证文件 </div>
                    </div>

                </td>
            </tr>
            <tr height="300px">
                <td >
                    学历证明文件
                </td>

                <td colspan="3">
                    <div class="upload">
                        <a href="javascript:void(0);"><img class="add" src="/resources/img/add.png" alt=""></a>
                    </div>
                    <div class="upload">
                        <a href="javascript:void(0);"><img class="add" src="/resources/img/add.png" alt=""></a>
                    </div>
                    <div class="upload">
                        <a href="javascript:void(0);"><img class="add" src="/resources/img/add.png" alt=""></a>
                        <div class="upload_1">请上传学历证明文件 </div>
                    </div>

                </td>
            </tr>
            <tr height="300px">
                <td >
                    工作及财力
                </td>

                <td colspan="3">
                    <div class="upload">
                        <a href="javascript:void(0);"><img class="add" src="/resources/img/add.png" alt=""></a>
                    </div>
                    <div class="upload">
                        <a href="javascript:void(0);"><img class="add" src="/resources/img/add.png" alt=""></a>
                    </div>
                    <div class="upload">
                        <a href="javascript:void(0);"><img class="add" src="/resources/img/add.png" alt=""></a>
                        <div class="upload_1">请上传工作及财力文件 </div>
                    </div>

                </td>
            </tr>
            <tr height="300px">
                <td >
                    房产证明文件
                </td>

                <td colspan="3">
                    <div class="upload">
                        <a href="javascript:void(0);"><img class="add" src="/resources/img/add.png" alt=""></a>
                    </div>
                    <div class="upload">
                        <a href="javascript:void(0);"><img class="add" src="/resources/img/add.png" alt=""></a>
                    </div>
                    <div class="upload">
                        <a href="javascript:void(0);"><img class="add" src="/resources/img/add.png" alt=""></a>
                        <div class="upload_1">请上传房产证明文件 </div>
                    </div>

                </td>
            </tr>
            <tr height="300px">
                <td >
                    车辆证明文件
                </td>

                <td colspan="3">
                    <div class="upload">
                        <a href="javascript:void(0);"><img class="add" src="/resources/img/add.png" alt=""></a>
                    </div>
                    <div class="upload">
                        <a href="javascript:void(0);"><img class="add" src="/resources/img/add.png" alt=""></a>
                    </div>
                    <div class="upload">
                        <a href="javascript:void(0);"><img class="add" src="/resources/img/add.png" alt=""></a>
                        <div class="upload_1">请上传车辆证明文件 </div>
                    </div>

                </td>
            </tr>
            <tr height="300px">
                <td >
                    其他证明文件
                </td>

                <td colspan="3">
                    <div class="upload">
                        <a href="javascript:void(0);"><img class="add" src="/resources/img/add.png" alt=""></a>
                    </div>
                    <div class="upload">
                        <a href="javascript:void(0);"><img class="add" src="/resources/img/add.png" alt=""></a>
                    </div>
                    <div class="upload">
                        <a href="javascript:void(0);"><img class="add" src="/resources/img/add.png" alt=""></a>
                        <div class="upload_1">请上传其他证明文件 </div>
                    </div>

                </td>
            </tr>
            </tbody>

        </table>
    </div>
    <br/>
    <div class="loan-application-row3">
        <table class="mod-table1">
            <thead>
            <tr>
                <th colspan="7"><span class="title">共同申请人信息</span></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td width="12%">共同申请人姓名</td>
                <td width="12%">与申请人关系</td>
                <td width="12%">本地户籍</td>
                <td width="16%">证件号码</td>
                <td width="16%">手机号码</td>
                <td width="16%">教育程度</td>
                <td width="16%">月收入（元）</td>
            </tr>
            <tr>
                <td width="12%"><input type="text" class="comm-input1" ng-model="selectedDraft.coApplicantName"></td>
                <td width="12%"><input type="text" class="comm-input1" ng-model="selectedDraft.coApplicantRelationship"></td>
                <td width="12%"><div class="multiple-choice">
                    <input type="radio" name="census"  value="0" ng-model="selectedDraft.coApplicantCensusCityId" ng-checked="selectedDraft.coApplicantCensusCityId==cityJson.Citys[selectedDraft.sourceCityId-1].Name"> 是
                    <span>&emsp;</span>
                    <input type="radio" name="census" value="1" ng-model="selectedDraft.coApplicantCensusCityId" ng-checked="selectedDraft.coApplicantCensusCityId!=cityJson.Citys[selectedDraft.sourceCityId-1].Name">否
                </div></td>
                <td width="16%"><input type="text" class="comm-input1" ng-model="selectedDraft.coApplicantCertificateNumber"></td>
                <td width="16%"><input type="text" class="comm-input1" ng-model="selectedDraft.coApplicantMobileNumber"></td>
                <td width="16%"><input type="text" class="comm-input1" ng-model="selectedDraft.coApplicantQualification"></td>
                <td width="16%"><input type="text" class="comm-input1" ng-model="selectedDraft.coApplicantIncomePerMonth"></td>
            </tr>

            <tr height="300px">
                <td >
                    <span class="star">*</span>身份证文件
                </td>

                <td colspan="6">
                    <div class="upload">
                        <a href="javascript:void(0);"><img class="add" src="/resources/img/add.png" alt=""></a>
                    </div>
                    <div class="upload">
                        <a href="javascript:void(0);"><img class="add" src="/resources/img/add.png" alt=""></a>
                    </div>
                    <div class="upload">
                        <a href="javascript:void(0);"><img class="add" src="/resources/img/add.png" alt=""></a>
                        <div class="upload_1">请上传身份证文件 </div>
                    </div>

                </td>
            </tr>
            <tr height="300px">
                <td >
                    工作及财力
                </td>

                <td colspan="6">
                    <div class="upload">
                        <a href="javascript:void(0);"><img class="add" src="/resources/img/add.png" alt=""></a>
                    </div>
                    <div class="upload">
                        <a href="javascript:void(0);"><img class="add" src="/resources/img/add.png" alt=""></a>
                    </div>
                    <div class="upload">
                        <a href="javascript:void(0);"><img class="add" src="/resources/img/add.png" alt=""></a>
                        <div class="upload_1">请上传工作及财力文件 </div>
                    </div>

                </td>
            </tr>
            <tr height="300px">
                <td >
                    房产证明文件
                </td>

                <td colspan="6">
                    <div class="upload">
                        <a href="javascript:void(0);"><img class="add" src="/resources/img/add.png" alt=""></a>
                    </div>
                    <div class="upload">
                        <a href="javascript:void(0);"><img class="add" src="/resources/img/add.png" alt=""></a>
                    </div>
                    <div class="upload">
                        <a href="javascript:void(0);"><img class="add" src="/resources/img/add.png" alt=""></a>
                        <div class="upload_1">请上传房产证明文件 </div>
                    </div>

                </td>
            </tr>
            <tr height="300px">
                <td >
                    其他证明文件
                </td>

                <td colspan="6">
                    <div class="upload">
                        <a href="javascript:void(0);"><img class="add" src="/resources/img/add.png" alt=""></a>
                    </div>
                    <div class="upload">
                        <a href="javascript:void(0);"><img class="add" src="/resources/img/add.png" alt=""></a>
                    </div>
                    <div class="upload">
                        <a href="javascript:void(0);"><img class="add" src="/resources/img/add.png" alt=""></a>
                        <div class="upload_1">请上传其他证明文件 </div>
                    </div>

                </td>
            </tr>

            </tbody>
        </table>
    </div>
    <br/>
    <div class="loan-application-row3">
        <table class="mod-table1">
            <thead>
            <tr>
                <th colspan="7"><span class="title">担保人信息</span></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td width="12%">担保人姓名</td>
                <td width="12%">与申请人关系</td>
                <td width="12%">本地户籍</td>
                <td width="16%">证件号码</td>
                <td width="16%">手机号码</td>
                <td width="16%">房产属权</td>
                <td width="16%">月收入（元）</td>
            </tr>
            <tr>
                <td width="12%"><input type="text" class="comm-input1" ng-model="selectedDraft.guarantorName"></td>
                <td width="12%"><input type="text" class="comm-input1" ng-model="selectedDraft.guarantorRelationship"></td>
                <td width="12%"><div class="multiple-choice">
                    <input type="radio" name="census"  value="0" ng-model="selectedDraft.guarantorCensusCityId" ng-checked="selectedDraft.guarantorCensusCityId==cityJson.Citys[selectedDraft.sourceCityId-1].Name"> 是
                    <span>&emsp;</span>
                    <input type="radio" name="census" value="1" ng-model="selectedDraft.guarantorCensusCityId" ng-checked="selectedDraft.guarantorCensusCityId!=cityJson.Citys[selectedDraft.sourceCityId-1].Name">否
                </div></td>
                <td width="16%"><input type="text" class="comm-input1" ng-model="selectedDraft.guarantorCertificateNumber"></td>
                <td width="16%"><input type="text" class="comm-input1" ng-model="selectedDraft.guarantorMobileNumber"></td>
                <td width="16%"><input type="text" class="comm-input1" ng-model="selectedDraft.guarantorRealEstateOwnType"></td>
                <td width="16%"><input type="text" class="comm-input1" ng-model="selectedDraft.guarantorIncomePerMonth"></td>
            </tr>

            <tr height="300px">
                <td >
                    <span class="star">*</span>身份证文件
                </td>

                <td colspan="6">
                    <div class="upload">
                        <a href="javascript:void(0);"><img class="add" src="/resources/img/add.png" alt=""></a>
                    </div>
                    <div class="upload">
                        <a href="javascript:void(0);"><img class="add" src="/resources/img/add.png" alt=""></a>
                    </div>
                    <div class="upload">
                        <a href="javascript:void(0);"><img class="add" src="/resources/img/add.png" alt=""></a>
                        <div class="upload_1">请上传身份证文件 </div>
                    </div>

                </td>
            </tr>
            <tr height="300px">
                <td >
                    工作及财力
                </td>

                <td colspan="6">
                    <div class="upload">
                        <a href="javascript:void(0);"><img class="add" src="/resources/img/add.png" alt=""></a>
                    </div>
                    <div class="upload">
                        <a href="javascript:void(0);"><img class="add" src="/resources/img/add.png" alt=""></a>
                    </div>
                    <div class="upload">
                        <a href="javascript:void(0);"><img class="add" src="/resources/img/add.png" alt=""></a>
                        <div class="upload_1">请上传工作及财力文件 </div>
                    </div>

                </td>
            </tr>
            <tr height="300px">
                <td >
                    房产证明文件
                </td>

                <td colspan="6">
                    <div class="upload">
                        <a href="javascript:void(0);"><img class="add" src="/resources/img/add.png" alt=""></a>
                    </div>
                    <div class="upload">
                        <a href="javascript:void(0);"><img class="add" src="/resources/img/add.png" alt=""></a>
                    </div>
                    <div class="upload">
                        <a href="javascript:void(0);"><img class="add" src="/resources/img/add.png" alt=""></a>
                        <div class="upload_1">请上传房产证明文件 </div>
                    </div>

                </td>
            </tr>
            <tr height="300px">
                <td >
                    其他证明文件
                </td>

                <td colspan="6">
                    <div class="upload">
                        <a href="javascript:void(0);"><img class="add" src="/resources/img/add.png" alt=""></a>
                    </div>
                    <div class="upload">
                        <a href="javascript:void(0);"><img class="add" src="/resources/img/add.png" alt=""></a>
                    </div>
                    <div class="upload">
                        <a href="javascript:void(0);"><img class="add" src="/resources/img/add.png" alt=""></a>
                        <div class="upload_1">请上传其他证明文件 </div>
                    </div>

                </td>
            </tr>

            </tbody>
        </table>
    </div>
    <br/>
    <div class="loan-application-row4">
        <table class="mod-table1">
            <thead>
            <tr>
                <th colspan="6">
                    <span class="title">紧急联系人</span>
                    <button class="comm-btn comm-btn-blue fr footer-button">添加</button>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td width="15%">联系人姓名</td>
                <td width="15%">与申请人关系</span></td>
                <td width="15%">手机号码</td>
                <td colspan="3" width="55%">现居住地址</td>
            </tr>
            <tr>
                <td width="15%"><input type="text" class="comm-input1" ng-model="selectedDraft.applicantFirstEmergencyContact"></td>
                <td width="15%"><input type="text" class="comm-input1" ng-model="selectedDraft.applicantFirstEmergencyContactRelationship"></span></td>
                <td width="15%"><input type="text" class="comm-input1" ng-model="selectedDraft.applicantFirstEmergencyContactMobileNumber"></td>
                <td colspan="3" width="55%"><input type="text" class="comm-input1" ng-model="selectedDraft.applicantFirstEmergencyContactAddress"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <br/>
    <div class="loan-application-row5">
        <table class="mod-table1">
            <thead>
            <tr>
                <th colspan="4"><span class="title">车辆信息</span></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td width="20%"><span class="red">*</span>车架号：</td>
                <td colspan="3">
                    <div class="comm-inp-wp width-short">
                        <input type="text" class="comm-input1" ng-model="selectedDraft.vehicleVin">
                    </div>
                </td>

            </tr>
            <tr>
                <td width="20%"><span class="red">*</span>生产厂家：</td>
                <td width="30%">
                    <div class="comm-inp-wp">
                        <select class="comm-select1" ng-model="selectedDraft.vehicleManufacturers" ng-options = "factory for factory in factories">
                            <option value="">请选择</option>
                        </select>
                    </div>
                </td>
                <td width="20%"><span class="red">*</span>汽车品牌：</td>
                <td width="30%">  <div class="comm-inp-wp">
                    <select class="comm-select1" ng-model="selectedDraft.vehicleBrand" ng-options = "brand for brand in brands">
                        <option value="">请选择</option>
                    </select>
                </div>
                </td>
            </tr>
            <tr>
                <td width="20%"><span class="red">*</span>生产年份：</td>
                <td width="30%">
                    <div class="comm-inp-wp">
                        <select class="comm-select1" ng-model="selectedDraft.vehicleProductionYearMonth" ng-options = "produceYear+'年' for produceYear in produceYears">
                            <option value="">请选择</option>
                        </select>
                    </div>
                </td>
                <td width="20%"><span class="red">*</span>汽车款式：</td>
                <td width="30%">  <div class="comm-inp-wp">
                    <select class="comm-select1" ng-model="selectedDraft.vehicleSeries" ng-options = "serie for serie in series">
                        <option value="">请选择</option>
                    </select>
                </div>
                </td>
            </tr>
            <tr>
                <td width="20%"><span class="red">*</span>首次登记日期：</td>
                <td width="30%">
                    <div class="comm-inp-wp">
                        <adm-dtp ng-model='selectedDraft.vehicleRegistrationYearMonth' options='{calType: "gregorian", format: "YYYY-MM-DD"}'></adm-dtp>
                    </div>
                </td>
                <td width="20%"><span class="red">*</span>二手车里程数（万公里）：</td>
                <td width="30%">
                    <div class="comm-inp-wp">
                        <input type="text" class="comm-input1" ng-model="selectedDraft.vehicleKilometers">
                    </div>
                </td>
            </tr>


            <tr>
                <td width="20%"><span class="red">*</span>使用性质：</td>
                <td width="30%">
                    <div class="multiple-choice"><input type="radio" name="utilityType" value="非营运" ng-model="selectedDraft.vehicleUtilityType"> 非营运 <span>&emsp;</span><input type="radio" name="utilityType" value="营运" ng-model="selectedDraft.vehicleUtilityType">营运<span>&emsp;</span><input type="radio" name="utilityType" value="营转非" ng-model="selectedDraft.vehicleUtilityType">营转非<span>&emsp;</span><input type="radio" name="utilityType" value="教练车" ng-model="selectedDraft.vehicleUtilityType">教练车</div>

                </td>
                <td width="20%"><span class="red">*</span>排放标准：</td>
                <td width="30%">
                    <div class="comm-inp-wp">
                        <select class="comm-select1" ng-model="selectedDraft.vehicleEmission" ng-options = "emission for emission in emissiones">
                            <option value="">请选择</option>
                        </select>
                    </div>
                </td>
            </tr>
            <tr height="300px">
                <td >
                    <span class="red">*</span>车辆登记证书
                </td>

                <td colspan="6">
                    <div class="upload">
                        <a href="javascript:void(0);"><img class="add" src="/resources/img/add.png" alt=""></a>
                    </div>
                    <div class="upload">
                        <a href="javascript:void(0);"><img class="add" src="/resources/img/add.png" alt=""></a>
                    </div>
                    <div class="upload">
                        <a href="javascript:void(0);"><img class="add" src="/resources/img/add.png" alt=""></a>
                        <div class="upload_1">请上传车辆登记证书 </div>
                    </div>

                </td>
            </tr>
            <tr height="300px">
                <td >
                    <span class="red">*</span>机动车行驶证
                </td>

                <td colspan="6">
                    <div class="upload">
                        <a href="javascript:void(0);"><img class="add" src="/resources/img/add.png" alt=""></a>
                    </div>
                    <div class="upload">
                        <a href="javascript:void(0);"><img class="add" src="/resources/img/add.png" alt=""></a>
                    </div>
                    <div class="upload">
                        <a href="javascript:void(0);"><img class="add" src="/resources/img/add.png" alt=""></a>
                        <div class="upload_1">请上传机动车行驶证 </div>
                    </div>

                </td>
            </tr>
            <tr height="300px">
                <td >
                    <span class="red">*</span>车辆照片
                </td>

                <td colspan="6">
                    <div class="upload">
                        <a href="javascript:void(0);"><img class="add" src="/resources/img/add.png" alt=""></a>
                    </div>
                    <div class="upload">
                        <a href="javascript:void(0);"><img class="add" src="/resources/img/add.png" alt=""></a>
                    </div>
                    <div class="upload">
                        <a href="javascript:void(0);"><img class="add" src="/resources/img/add.png" alt=""></a>
                        <div class="upload_1">请上传车辆照片</div>
                    </div>

                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <br/>
    <div class="loan-application-row6">
        <table class="mod-table1">
            <thead>
            <tr>
                <th colspan="4"><span class="title">贷款申请方案</span></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td width="20%"><span class="red">*</span>产品名称：</td>
                <td width="30%">
                    <div class="comm-inp-wp">
                        {{draftProduct.name}}
                    </div>
                </td>
                <td width="20%"><span class="red">*</span>贷款类型：</td>
                <td width="30%"><span class="fl">{{productTypes[draftProduct.productType].name}}</span></td>
            </tr>



            <tr>
                <td width="20%"><span class="red">*</span>申请日期：</td>
                <td width="30%">
                    <span class="fl">{{commonUtil.getDateFromInt(selectedDraft.modifiedTime)}}</span>
                </td>
                <td width="20%"><span class="red">*</span>还款方式：</td>
                <td width="30%"><span class="fl">{{paybackTypes[draftProduct.repaymentMethod].name}}</span></td>
            </tr>
            <tr>
                <td width="20%">车辆成交价：</td>
                <td width="30%">
                    <div class="comm-inp-wp width-half">
                        <input type="text" class="comm-input1" ng-model="selectedDraft.vehicleDealPrice">
                    </div>
                    <div class="link"><a href="javascript:void(0);">车价宝评估</a></div>
                </td>
                <td width="20%">贷款成数：</td>
                <td width="30%">
                    <div class="comm-inp-wp">
                        <input type="text" class="comm-input1" ng-model="selectedDraft.loanRate">成
                    </div>
                </td>
            </tr>
            <tr>
                <td width="20%"><span class="red">*</span>首付款金额（元）：</td>
                <td width="30%">
                    <div class="comm-inp-wp">
                        <!--<input type="text" class="comm-input1" ng-model="selectedDraft.vehicleDealPrice*selectedDraft.loanRate/10">-->
                        {{selectedDraft.loanFirstPayment}}
                    </div>
                </td>
                <td width="20%"><span class="red">*</span>贷款总金额（元）：</td>
                <td width="30%">
                    <div class="comm-inp-wp">
                        <!--<input type="text" class="comm-input1" ng-model="selectedDraft.vehicleDealPrice*(1-selectedDraft.loanRate)/10">-->
                        {{selectedDraft.vehicleDealPrice*(1-selectedDraft.loanRate/10)}}
                    </div>
                </td>
            </tr>
            <tr>
                <td width="20%"><span class="red">*</span>贷款利率：</td>
                <td width="30%">
                    <div class="comm-inp-wp width-short">
                        <input type="text" class="comm-input1" ng-model="selectedDraft.loanMonthlyInterestRate">
                    </div>
                    <div class="link">%/月</div>
                </td>
                <td width="20%"><span class="red">*</span>贷款期数：</td>
                <td width="30%">
                    <input type="text" class="comm-input1" ng-model="selectedDraft.loanTerms">期
                </td>

            </tr>
            <tr>
                <td width="20%"><span class="red">*</span>还款金额：</td>
                <td width="30%">
                    <span class="fl">{{selectedDraft.vehicleDealPrice*(1-selectedDraft.loanRate/10)*(selectedDraft.loanMonthlyInterestRate/100+1/selectedDraft.loanTerms)}}元/月</span>
                </td>
            </tr>
            <tr height="300px">
                <td >
                    <span class="red">*</span>申请表材料
                </td>

                <td colspan="6">
                    <div class="upload">
                        <a href="javascript:void(0);"><img class="add" src="/resources/img/add.png" alt=""></a>
                    </div>
                    <div class="upload">
                        <a href="javascript:void(0);"><img class="add" src="/resources/img/add.png" alt=""></a>
                    </div>
                    <div class="upload">
                        <a href="javascript:void(0);"><img class="add" src="/resources/img/add.png" alt=""></a>
                        <div class="upload_1">请上传申请表材料</div>
                    </div>

                </td>
            </tr>

            </tbody>
        </table>
    </div>
    <br/>
    <div class="loan-application-row7">
        <table class="mod-table1">
            <thead>
            <tr>
                <th colspan="4"><span class="title">备注</span></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td width="15%">备注</td>
                <td colspan="3">
                    <div>
                        <textarea class="label" name="" id="" cols="30" rows="10"></textarea>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="footer">
        <button class="comm-btn comm-btn-blue fr footer-button" ng-click="commit()">提交</button>
        <button class="comm-btn comm-btn-blue fr footer-button" ng-click="cancel()">放弃申请</button>
        <!--<button class="comm-btn comm-btn-blue fr footer-button" ng-click="">存草稿</button>-->
        <div class=" a fr ">
            <img class="up-logo" src="/resources/img/up.jpg" alt="">
            <span>更多操作</span>
        </div>
    </div>
</div>