<div class="main" ng-controller="loanapplyController">

    <div class="mod-hd">
        <h2>贷款申请</h2>
    </div>

    <div class="loan-application-row1">
        <table class="mod-table1">
            <thead>
            <tr>
                <th colspan="4"><span class="title">业务来源</span></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td width="15%"><span class="star">*</span>来源城市
                </td>
                <td width="35%"><div class="comm-inp-wp">
                    <select class="comm-select1" ng-model="sourceCity" ng-options = "city.Name for city in cityArray" ng-change="getProductByCity()">
                        <option value="">请选择</option>
                    </select>
                </div></td>
                <td width="15%"><span class="star">*</span>跟金融专员</td>
                <td width="35%"><span class="cell">{{userInfo.data.realName}}</span><div class="comm-inp-wp">

            </div></td>

            </tr>
            <tr>
                <td><span class="star">*</span>来源渠道</td>
                <td>
                    <div class="comm-inp-wp">
                        <select class="comm-select1" ng-model="selectedSource" ng-options = "source.name for source in sources">
                            <option value="">请选择</option>
                        </select>
                    </div>
                </td>
                <td><span class="star">*</span>收单员</td>
                <td>
                    <div class="comm-inp-wp">
                        <select class="comm-select1" ng-model="selectedCollector" ng-options = "collector.realName for collector in collectors">
                            <option value="">请选择</option>
                        </select>
                    </div>
                </td>

            </tr>
            <tr>
                <td> <span class="star">*</span>来源联系人姓名</td>
                <td>
                    <div class="comm-inp-wp">
                        <input type="text" class="comm-input1" ng-model="sourcePersonName">
                    </div>
                </td>
                <td><span class="star">*</span>来源联系人手机号码</td>
                <td>
                    <div class="comm-inp-wp">
                        <input type="text" class="comm-input1" ng-model="sourcePersonTel">
                    </div>
                </td>


            </tr>
            </tbody>

        </table>
    </div>

    <div class="loan-application-row2">
        <table class="mod-table1">
            <thead>
            <tr>
                <th colspan="4"><span class="title">申请人信息</span></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td width="15%"><span class="star">*</span>申请人姓名</td>
                <td width="35%">
                    <div class="comm-inp-wp">
                        <input type="text" class="comm-input1" ng-model="applicantName">
                    </div>
                </td>
                <td width="15%"><span class="star">*</span>手机号码</td>
                <td width="35%">
                    <div class="comm-inp-wp">
                        <input type="text" class="comm-input1" ng-model="applicantMobileNumber">
                    </div>
                </td>

            </tr>
            <tr>
                <td><span class="star">*</span>证件种类</td>
                <td>
                    <div class="comm-inp-wp">
                        <select class="comm-select1" ng-model="selectedIDType" ng-options = "IDType.name for IDType in IDTypes">
                            <option value="">请选择</option>
                        </select>
                    </div>
                </td>
                <td><span class="star">*</span>证件号码</td>
                <td>
                    <div class="comm-inp-wp">
                        <input type="text" class="comm-input1" ng-model="applicantCertificateNumber">
                    </div>
                </td>

            </tr>
            <tr>
                <td><span class="star">*</span>婚姻状况</td>
                <td>
                    <div class="comm-inp-wp">
                        <select class="comm-select1" ng-model="selectedMarriages" ng-options = "marriage.name for marriage in marriages">
                            <option value="">请选择</option>
                        </select>
                    </div>
                </td>
                <td><span class="star">*</span>本人月收入</td>
                <td>
                    <div class="comm-inp-wp">
                        <input type="text" class="comm-input1" ng-model="applicantIncomePerMonth">
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <span class="star">*</span>房产、车辆
                </td>
                <td colspan="3">
                    <div class="wealth">自有房产</div>
                    <div class="wealth wealth-in">自有车辆</div>
                </td>
            </tr>

            <tr height="300px">
                <td >
                    <span class="star">*</span>身份证文件
                </td>

                <td colspan="4">
                    <div class="upload" desc="身份证正面照片" uploader="applicantIdentification1" uploaded-urls="applicantIdentification" index="0" image-url={{identityPhotos[0]}}></div>
                    <div class="upload" desc="身份证反面照片" uploader="applicantIdentification2" uploaded-urls="applicantIdentification" index="1" image-url={{identityPhotos[1]}}></div>
                </td>
            </tr>

            <tr height="300px">
                <td >
                    学历证明文件
                </td>

                <td colspan="4">
                    <div class="upload" desc="学历证明1" uploader="applicantQualification1" uploaded-urls="applicantQualification" index="0" image-url={{applicantQualificationPhotos[0]}}></div>
                    <div class="upload" desc="学历证明2" uploader="applicantQualification2" uploaded-urls="applicantQualification" index="1" image-url={{applicantQualificationPhotos[1]}}></div>
                    <div class="upload" desc="学历证明3" uploader="applicantQualification3" uploaded-urls="applicantQualification" index="2" image-url={{applicantQualificationPhotos[2]}}></div>
                    <div class="upload" desc="学历证明4" uploader="applicantQualification4" uploaded-urls="applicantQualification" index="3" image-url={{applicantQualificationPhotos[3]}}></div>
                </td>
            </tr>
            <tr height="300px">
                <td >
                    工作及财力证明
                </td>

                <td colspan="3">
                    <div class="upload" desc="工作及财力1" uploader="applicantIncome1" uploaded-urls="applicantIncome" index="0" image-url={{applicantIncomePhotos[0]}}></div>
                    <div class="upload" desc="工作及财力2" uploader="applicantIncome2" uploaded-urls="applicantIncome" index="1" image-url={{applicantIncomePhotos[1]}}></div>
                    <div class="upload" desc="工作及财力3" uploader="applicantIncome3" uploaded-urls="applicantIncome" index="2" image-url={{applicantIncomePhotos[2]}}></div>
                </td>
            </tr>
            <tr height="300px">
                <td >
                    房产证明文件
                </td>

                <td colspan="3">
                    <div class="upload" desc="房产证明1" uploader="applicantEstate1" uploaded-urls="applicantEstate" index="0" image-url={{applicantEstatePhotos[0]}}></div>
                    <div class="upload" desc="房产证明2" uploader="applicantEstate2" uploaded-urls="applicantEstate" index="1" image-url={{applicantEstatePhotos[1]}}></div>
                    <div class="upload" desc="房产证明3" uploader="applicantEstate3" uploaded-urls="applicantEstate" index="2" image-url={{applicantEstatePhotos[2]}}></div>
                </td>
            </tr>
            <tr height="300px">
                <td >
                    车辆证明文件
                </td>

                <td colspan="3">
                    <div class="upload" desc="车辆证明1" uploader="applicantVehicle1" uploaded-urls="applicantVehicle" index="0" image-url={{applicantVehiclePhotos[0]}}></div>
                    <div class="upload" desc="车辆证明2" uploader="applicantVehicle2" uploaded-urls="applicantVehicle" index="1" image-url={{applicantVehiclePhotos[1]}}></div>
                    <div class="upload" desc="车辆证明3" uploader="applicantVehicle3" uploaded-urls="applicantVehicle" index="2" image-url={{applicantVehiclePhotos[2]}}></div>
                </td>
            </tr>
            <tr height="300px">
                <td >
                    其他证明文件
                </td>

                <td colspan="5">
                    <div class="upload" desc="其他证明1" uploader="applicantOther1" uploaded-urls="applicantOther" index="0" image-url={{applicantOtherPhotos[0]}}></div>
                    <div class="upload" desc="其他证明2" uploader="applicantOther2" uploaded-urls="applicantOther" index="1" image-url={{applicantOtherPhotos[1]}}></div>
                    <div class="upload" desc="其他证明3" uploader="applicantOther3" uploaded-urls="applicantOther" index="2" image-url={{applicantOtherPhotos[2]}}></div>
                    <div class="upload" desc="其他证明4" uploader="applicantOther4" uploaded-urls="applicantOther" index="3" image-url={{applicantOtherPhotos[3]}}></div>
                    <div class="upload" desc="其他证明5" uploader="applicantOther5" uploaded-urls="applicantOther" index="4" image-url={{applicantOtherPhotos[4]}}></div>
                </td>
            </tr>

            </tbody>

        </table>
    </div>
    <br/>
    <div class="loan-application-row3">
        <table class="mod-table1">
            <thead>
            <tr>
                <th colspan="4"><span class="title">共同申请人信息</span></th>
            </tr>
            </thead>
            <tbody>

            <tr height="300px">
                <td width="15%">
                    <span class="star">*</span>身份证文件
                </td>

                <td colspan="4">
                    <div class="upload" desc="身份证正面照片" uploader="coApplicantIdentification1" uploaded-urls="coApplicantIdentification" index="0" image-url={{coIdentityPhotos[0]}}></div>
                    <div class="upload" desc="身份证反面照片" uploader="coApplicantIdentification2" uploaded-urls="coApplicantIdentification" index="1" image-url={{coIdentityPhotos[1]}}></div>
                </td>
            </tr>
            <tr height="300px">
                <td >
                    工作及财力证明
                </td>

                <td colspan="3">
                    <div class="upload" desc="工作及财力1" uploader="coApplicantIncome1" uploaded-urls="coApplicantIncome" index="0" image-url={{coApplicantIncomePhotos[0]}}></div>
                    <div class="upload" desc="工作及财力2" uploader="coApplicantIncome2" uploaded-urls="coApplicantIncome" index="1" image-url={{coApplicantIncomePhotos[1]}}></div>
                    <div class="upload" desc="工作及财力3" uploader="coApplicantIncome3" uploaded-urls="coApplicantIncome" index="2" image-url={{coApplicantIncomePhotos[2]}}></div>
                </td>
            </tr>
            <tr height="300px">
                <td >
                    房产证明文件
                </td>

                <td colspan="3">
                    <div class="upload" desc="房产证明1" uploader="coApplicantEstate1" uploaded-urls="coApplicantEstate" index="0" image-url={{coApplicantEstatePhotos[0]}}></div>
                    <div class="upload" desc="房产证明2" uploader="coApplicantEstate2" uploaded-urls="coApplicantEstate" index="1" image-url={{coApplicantEstatePhotos[1]}}></div>
                    <div class="upload" desc="房产证明3" uploader="coApplicantEstate3" uploaded-urls="coApplicantEstate" index="2" image-url={{coApplicantEstatePhotos[2]}}></div>
                </td>
            </tr>
            <tr height="300px">
                <td >
                    其他证明文件
                </td>

                <td colspan="5">
                    <div class="upload" desc="其他证明1" uploader="coApplicantOther1" uploaded-urls="coApplicantOther" index="0" image-url={{coApplicantOtherPhotos[0]}}></div>
                    <div class="upload" desc="其他证明2" uploader="coApplicantOther2" uploaded-urls="coApplicantOther" index="1" image-url={{coApplicantOtherPhotos[1]}}></div>
                    <div class="upload" desc="其他证明3" uploader="coApplicantOther3" uploaded-urls="coApplicantOther" index="2" image-url={{coApplicantOtherPhotos[2]}}></div>
                    <div class="upload" desc="其他证明4" uploader="coApplicantOther4" uploaded-urls="coApplicantOther" index="3" image-url={{coApplicantOtherPhotos[3]}}></div>
                    <div class="upload" desc="其他证明5" uploader="coApplicantOther5" uploaded-urls="coApplicantOther" index="4" image-url={{coApplicantOtherPhotos[4]}}></div>
                </td>
            </tr>

            </tbody>

        </table>
    </div>
    <br/>
    <div class="loan-application-row4">
        <table class="mod-table1">
            <thead>
            <tr>
                <th colspan="4"><span class="title">担保人</span></th>
            </tr>
            </thead>
            <tbody>
            <tr height="300px">
                <td width="15%">
                    <span class="star">*</span>身份证文件
                </td>

                <td colspan="4">
                    <div class="upload" desc="身份证正面照片" uploader="guarantorIdentification1" uploaded-urls="guarantorIdentification" index="0" image-url={{guarantorIdentityPhotos[0]}}></div>
                    <div class="upload" desc="身份证反面照片" uploader="guarantorIdentification2" uploaded-urls="guarantorIdentification" index="1" image-url={{guarantorIdentityPhotos[1]}}></div>
                </td>
            </tr>
            <tr height="300px">
                <td >
                    工作及财力证明
                </td>

                <td colspan="3">
                    <div class="upload" desc="工作及财力1" uploader="guarantorIncome1" uploaded-urls="guarantorIncome" index="0" image-url={{guarantorIncomePhotos[0]}}></div>
                    <div class="upload" desc="工作及财力2" uploader="guarantorIncome2" uploaded-urls="guarantorIncome" index="1" image-url={{guarantorIncomePhotos[1]}}></div>
                    <div class="upload" desc="工作及财力3" uploader="guarantorIncome3" uploaded-urls="guarantorIncome" index="2" image-url={{guarantorIncomePhotos[2]}}></div>
                </td>
            </tr>
            <tr height="300px">
                <td >
                    房产证明文件
                </td>

                <td colspan="3">
                    <div class="upload" desc="房产证明1" uploader="guarantorEstate1" uploaded-urls="guarantorEstate" index="0" image-url={{guarantorEstatePhotos[0]}}></div>
                    <div class="upload" desc="房产证明2" uploader="guarantorEstate2" uploaded-urls="guarantorEstate" index="1" image-url={{guarantorEstatePhotos[1]}}></div>
                    <div class="upload" desc="房产证明3" uploader="guarantorEstate3" uploaded-urls="guarantorEstate" index="2" image-url={{guarantorEstatePhotos[2]}}></div>
                </td>
            </tr>
            <tr height="300px">
                <td >
                    其他证明文件
                </td>

                <td colspan="5">
                    <div class="upload" desc="其他证明1" uploader="guarantorOther1" uploaded-urls="guarantorOther" index="0" image-url={{guarantorOtherPhotos[0]}}></div>
                    <div class="upload" desc="其他证明2" uploader="guarantorOther2" uploaded-urls="guarantorOther" index="1" image-url={{guarantorOtherPhotos[1]}}></div>
                    <div class="upload" desc="其他证明3" uploader="guarantorOther3" uploaded-urls="guarantorOther" index="2" image-url={{guarantorOtherPhotos[2]}}></div>
                    <div class="upload" desc="其他证明4" uploader="guarantorOther4" uploaded-urls="guarantorOther" index="3" image-url={{guarantorOtherPhotos[3]}}></div>
                    <div class="upload" desc="其他证明5" uploader="guarantorOther5" uploaded-urls="guarantorOther" index="4" image-url={{guarantorOtherPhotos[4]}}></div>
                </td>
            </tr>

            </tbody>

        </table>
    </div>
    <br/>
    <div class="loan-application-row5">
        <table class="mod-table1">
            <thead>
            <tr>
                <th colspan="4"><span class="title">车辆信息</span></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td width="15%"><span class="star">*</span>车架号</td>
                <td width="35%">
                    <div class="comm-inp-wp">
                        <input type="text" class="comm-input1" ng-model="vehicleVin">
                    </div>
                </td>
                <td width="15%"></td>
                <td width="35%"></td>

            </tr>
            <tr>
                <td><span class="star">*</span>生产厂家</td>
                <td>
                    <div class="comm-inp-wp">
                        <select class="comm-select1" ng-model="selectedFactory" ng-options = "factory for factory in factories">
                            <option value="">请选择</option>
                        </select>
                    </div>
                </td>
                <td><span class="star">*</span>汽车品牌</td>
                <td>
                    <div class="comm-inp-wp">
                        <select class="comm-select1" ng-model="selectedBrand" ng-options = "brand for brand in brands">
                            <option value="">请选择</option>
                        </select>
                    </div>
                </td>
            </tr>

            <tr>
                <td><span class="star">*</span>汽车款式</td>
                <td>
                    <div class="comm-inp-wp">
                        <select class="comm-select1" ng-model="selectedSeries" ng-options = "serie for serie in series">
                            <option value="">请选择</option>
                        </select>
                    </div>
                </td>
                <td><span class="star">*</span>二手车里程数（万公里）</td>
                <td>
                    <div class="comm-inp-wp">
                        <input type="text" class="comm-input1" ng-model="vehicleKilometers">
                    </div>
                </td>
            </tr>
            <tr height="300px">
                <td >
                    <span class="red">*</span>车辆登记证书
                </td>

                <td colspan="4">
                    <div class="upload" desc="车辆登记证书1" uploader="vehicleRegistrationCertificate1" uploaded-urls="vehicleRegistrationCertificate" index="0" image-url={{vehicleRegistrationCertificatePhotos[0]}}></div>
                    <div class="upload" desc="车辆登记证书2" uploader="vehicleRegistrationCertificate2" uploaded-urls="vehicleRegistrationCertificate" index="1" image-url={{vehicleRegistrationCertificatePhotos[1]}}></div>
                    <div class="upload" desc="车辆登记证书3" uploader="vehicleRegistrationCertificate3" uploaded-urls="vehicleRegistrationCertificate" index="2" image-url={{vehicleRegistrationCertificatePhotos[2]}}></div>
                </td>
            </tr>
            <tr height="300px">
                <td >
                    <span class="red">*</span> 机动车行驶证
                </td>

                <td colspan="4">
                    <div class="upload" desc="机动车行驶证1" uploader="vehicleLicense1" uploaded-urls="vehicleLicense" index="0" image-url={{vehicleLicensePhotos[0]}}></div>
                    <div class="upload" desc="机动车行驶证2" uploader="vehicleLicense2" uploaded-urls="vehicleLicense" index="1" image-url={{vehicleLicensePhotos[1]}}></div>
                </td>
            </tr>
            <tr height="300px">
                <td >
                    <span class="red">*</span> 车辆照片
                </td>

                <td colspan="3">
                    <div class="upload" desc="车辆图片1" uploader="vehicle1" uploaded-urls="vehicle" index="0" image-url={{vehiclePhotos[0]}}></div>
                    <div class="upload" desc="车辆图片2" uploader="vehicle2" uploaded-urls="vehicle" index="1" image-url={{vehiclePhotos[1]}}></div>
                    <div class="upload" desc="车辆图片3" uploader="vehicle3" uploaded-urls="vehicle" index="2" image-url={{vehiclePhotos[2]}}></div>
                    <div class="upload" desc="车辆图片4" uploader="vehicle4" uploaded-urls="vehicle" index="3" image-url={{vehiclePhotos[3]}}></div>
                    <div class="upload" desc="车辆图片5" uploader="vehicle5" uploaded-urls="vehicle" index="4" image-url={{vehiclePhotos[4]}}></div>
                </td>
            </tr>

            </tbody>

        </table>
    </div>
    <br/>
    <div class="loan-application-row6">
        <table class="mod-table1">
            <thead>
            <tr>
                <th colspan="4"><span class="title">贷款申请方案</span></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td width="15%"><span class="star">*</span>产品名称</td>
                <td width="35%">
                    <div class="comm-inp-wp">
                        <select class="comm-select1" ng-model="selectedProduct" ng-options = "product.name for product in products" ng-change="selectProduct()">
                            <option value="">请选择</option>
                        </select>
                    </div>
                </td>
                <td width="15%"><span class="star">*</span>贷款类型</td></td>
                <td width="35%">
                    <div class="comm-inp-wp width-half">
                        {{productTypes[selectedProduct.productType].name}}
                    </div>
                </td>

            </tr>
            <tr>
                <td><span class="star">*</span>车辆成交价（元）</td>
                <td>
                    <div class="comm-inp-wp width-half">
                        <input type="text" class="comm-input1" ng-model = "vehicleDealPrice">
                    </div>
                    <div class="link"><a href="javascript:void(0);">车价宝评估</a></div>
                </td>
                <td><span class="star">*</span>贷款成数</td>
                <td>
                    <div class="comm-inp-wp width-half">
                        <select class="comm-select1" ng-model="selectedRate" ng-options = "rate+'成' for rate in AvailableRates.slice(selectedProduct.minAvailableRate,selectedProduct.maxAvailableRate)" ng-change="changeRate()">
                            <option value="">请选择</option>
                        </select>
                    </div>
                </td>
            </tr>

            <tr>
                <td><span class="star">*</span>首付款金额（元）</td>
                <td>
                    <div class="comm-inp-wp width-half">
                        {{vehicleDealPrice-applicantLoanPrice}}
                    </div>
                </td>
                <td><span class="star">*</span>贷款总金额（元）</td>
                <td>
                    <div class="comm-inp-wp width-half">
                        <input type="text" class="comm-input1" ng-model="applicantLoanPrice">

                    </div>
                </td>
            </tr>
            <tr>
                <td><span class="star">*</span>贷款利率</td>
                <td>
                    <div class="comm-inp-wp width-short">
                        {{selectedProduct.productLoanMonthlyInterestRate}}
                    </div>
                    <div class="link">%/月</div>
                </td>
                <td><span class="star">*</span>贷款期数</td>
                <td>
                    <select class="comm-select1" ng-model="selectedTerm" ng-options = "term+'期' for term in availableTerms" ng-change="changeTerms()">
                        <option value="">请选择</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><span class="star">*</span>还款金额（元）</td>
                <td>
                    <span class="fl">{{paybackPerMonth}}元/月</span>
                </td>


            </tr>
            <tr height="300px">
                <td >
                    <span class="red">*</span>申请表材料
                </td>

                <td colspan="5">
                    <div class="upload" desc="申请表材料1" uploader="applicationPic1" uploaded-urls="applicationPic" index="0" image-url={{applicationPicPhotos[0]}}></div>
                    <div class="upload" desc="申请表材料2" uploader="applicationPic2" uploaded-urls="applicationPic" index="1" image-url={{applicationPicPhotos[1]}}></div>
                    <div class="upload" desc="申请表材料3" uploader="applicationPic3" uploaded-urls="applicationPic" index="2" image-url={{applicationPicPhotos[2]}}></div>
                    <div class="upload" desc="申请表材料4" uploader="applicationPic4" uploaded-urls="applicationPic" index="3" image-url={{applicationPicPhotos[3]}}></div>
                    <div class="upload" desc="申请表材料5" uploader="applicationPic5" uploaded-urls="applicationPic" index="4" image-url={{applicationPicPhotos[4]}}></div>
                </td>
            </tr>
            </tbody>

        </table>
    </div>
    <br/>
    <div class="loan-application-row7">
        <table class="mod-table1">
            <thead>
            <tr>
                <th colspan="4"><span class="title">备注</span></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td width="15%">备注</td>
                <td colspan="3">
                    <div>
                        <textarea class="label" name="" id="" cols="30" rows="10" ng-model="remark"></textarea>
                    </div>
                </td>


            </tr>


            </tbody>

        </table>
    </div>

    <div class="footer">
        <button class="comm-btn comm-btn-blue fr footer-button" ng-click="commit(2)">提交</button>
        <button class="comm-btn  fr footer-button" ng-click="cancel()">放弃</button>
        <button class="comm-btn  fr footer-button" ng-click="commit(1)">存草稿</button>

        <div class=" a fr ">
            <img class="up-logo" src="/resources/img/up.jpg" alt="">
            <span>更多操作</span>
        </div>

    </div>
</div>