.loan-intention { padding: 20px 0 0 0; }
.loan-intention .loan-intention-row1 { margin: 0 0 20px 0; }
.name_cell{width: 50%;}
.data_cell{display: both;float: left; width: 30%;   }
.data_cell_{display: both;float: left;line-height: 30px;margin-left: 10px;margin-right: 10px; }

.red{color: red;}