<div class="main" ng-controller = "addProductController">
    <div class="mod-hd">
        <h2>产品添加</h2>
    </div>

    <div class="table">
        <table class="mod-table1">
            <tbody>
            <tr>
                <td width="15%"><span class="star">*</span>产品名称</td>
                <td width="35%">
                    <div class="comm-inp-wp label">
                        <input type="text" class="comm-input1" ng-model="name">
                    </div>
                </td>
            </tr>
            <tr>
                <td width="15%"><span class="star">*</span>产品类型</td>
                <td width="35%">
                    <div class="comm-inp-wp label">
                        <select class="comm-select1" ng-model = "selectedProductType" ng-options = "productType.name for productType in productTypes"></select>
                    </div>
                </td>
            </tr>
            <tr>
                <td width="15%"><span class="star">*</span>还款方式</td>
                <td width="35%">
                    <div class="comm-inp-wp label">
                        <select class="comm-select1" ng-model = "selectedPaybackType" ng-options = "paybackType.name for paybackType in paybackTypes"></select>
                    </div>
                </td>
            </tr>
            <tr>
                <td width="15%"><span class="star">*</span>可贷成数</td>
                <td width="35%">

                    <div class="comm-inp-wp  a">
                        <div class="fl comm-inp-wp proportion">

                            <select class="comm-select1" ng-model = "minAvailableRate" ng-options = "AvailableRate+'成' for AvailableRate in AvailableRates">

                            </select>

                        </div>

                        <span class="rung">——</span>

                        <div class="fr comm-inp-wp proportion">
                            <select class="comm-select1" ng-model = "maxAvailableRate" ng-options = "AvailableRate+'成' for AvailableRate in AvailableRates">

                            </select>
                        </div>

                    </div>


                </td>
            </tr>
            <tr>
                <td width="15%"><span class="star">*</span>可贷期数</td>
                <td width="35%">
                    <div class="nper">
                        <div class="nper-box"><input id="aa" type="checkbox" ng-model="sixTerms" ng-click = "changeCheckedStatus(sixTerms)"></div>
                        <div class="nper-num">6期</div>
                    </div>
                    <div class="nper">
                        <div class="nper-box"><input id="aa" type="checkbox" ng-model="tweTerms" ng-click = "changeCheckedStatus(tweTerms)"></div>
                        <div class="nper-num">12期</div>
                    </div>
                    <div class="nper">
                        <div class="nper-box"><input id="aa" type="checkbox" ng-model="eighteenTerms" ng-click = "changeCheckedStatus(eighteenTerms)"></div>
                        <div class="nper-num">18期</div>
                    </div>
                    <div class="nper">
                        <div class="nper-box"><input id="aa" type="checkbox" ng-model="twentyfourTerms" ng-click = "changeCheckedStatus(twentyfourTerms)"></div>
                        <div class="nper-num">24期</div>
                    </div>
                    <div class="nper">
                        <div class="nper-box"><input id="aa" type="checkbox" ng-model="thirtysixTerms" ng-click = "changeCheckedStatus(thirtysixTerms)"></div>
                        <div class="nper-num">36期</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td width="15%"><span class="star">*</span>贷款政策</td>
                <td width="35%">
                    <div >
                        <div class="nper">
                            <div class="nper-box"><input id="aa" type="checkbox" ng-model="afterSign" ng-click = "changeCheckedStatus(afterSign)"></div>
                            <div class="nper-num">过户后放款</div>
                        </div>
                        <div class="nper">
                            <div class="nper-box"><input id="aa" type="checkbox" ng-model="afterMortgage" ng-click = "changeCheckedStatus(afterMortgage)"></div>
                            <div class="nper-num">抵押后放款</div>
                        </div>






                    </div>
                </td>
            </tr>
            <tr>
                <td width="15%"><span class="star">*</span>贷款利率</td>
                <td width="35%">
                    <div class="comm-inp-wp labe2">
                        <input type="text" class="comm-input1" ng-model = "loanMonthlyInterestRate">
                    </div>
                    <div class="labe3">
                        %/月
                    </div>

                </td>
            </tr>
            <tr >
                <td id="button"  colspan="2">
                    <table class="mod-subtable">
                        <tr >
                            <button class="comm-btn comm-btn-blue fl button1" ng-click = "commit()">保存</button>
                            <button class="comm-btn comm-btn-blue fl button1" ng-click = "cancel()">取消</button>
                        </tr>
                    </table>
                </td>
            </tr>
            </tbody>


        </table>
    </div>

</div>