<div class="main" ng-controller="subProductController">
    <div class="man-manage">
        <div class="man-manage-row1">
            <table class="mod-table1 mod-table1-ex">
                <tr>
                    <td width="33%">
                        <table class="mod-subtable">
                            <tr>
                                <td width="25%"><label class="comm-field-t">产品名称：</label></td>
                                <td width="75%">
                                    <div class="comm-inp-wp">
                                        <input type="text" class="comm-input1" ng-model="query.name" ng-keyup="$event.keyCode == 13 && getList()">
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td width="33%">
                        <table class="mod-subtable">
                            <tr>
                                <td width="25%"><label class="comm-field-t">地区名称：</label></td>

                                <td id="distance" width="70%">
                                    <div class="comm-inp-wp distance">
                                        <select class="comm-select1" ng-model="selectProvinces" ng-options="provinces.Name for provinces in cities.provincesList">
                                            <option value="">省份</option>
                                        </select>
                                    </div>
                                    <div class="comm-inp-wp distance">
                                        <select class="comm-select1" ng-model="selectCity" ng-options="city.Name for city in cities.Citys | filter:{ProvinceId:selectProvinces.Id}:true">
                                            <option value="">城市</option>
                                        </select>
                                    </div>

                                </td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <div class="mod-state">
                            <button id="button" class="comm-btn comm-btn-blue fl" ng-click="getList()">查询</button>
                            <button  class="comm-btn comm-btn-blue fl" ng-click="init()">清除</button>
                            <button class="comm-btn comm-btn-blue fr" ng-click="add()">添加</button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <div class="man-manage-row2">
            <div class="bd">
                <ul class="mod-tabs clearfix">
                    <li class="item" ng-class="{'item-on':status.on}" ng-repeat="status in productStatus"><a href="" ng-click="getList(status.id)"><span>{{status.name}}</span></a></li>
                </ul>
            </div>

            <table class="mod-table1">
                <thead>
                <tr>
                    <th width="6%">产品编号</th>
                    <th width="10%">产品名称</th>
                    <th width="10%">贷款类型</th>
                    <th width="10%">地区</th>
                    <th width="10%">还款方式</th>
                    <th width="10%">可贷成数</th>
                    <th width="10%">可贷期数</th>
                    <th width="10%">贷利率/月</th>
                    <th width="10%">可贷车辆年限</th>
                    <th width="10%">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="product in data.content">
                    <td>{{product.id}}</td>
                    <td>{{product.name}}</td>
                    <td>{{productTypes[product.productType].name}}</td>
                    <td>{{cities.provincesList[cities.Citys[product.cityId-1].ProvinceId-1].Name}}--{{cities.Citys[product.cityId-1].Name}}</td>
                    <td>{{paybackTypes[product.repaymentMethod].name}}</td>
                    <td>{{product.minAvailableRate}}成-{{product.maxAvailableRate}}成</td>
                    <td>{{product.availableTerms}}</td>
                    <td id="accrual">{{product.loanMonthlyInterestRate}}</td>
                    <td>{{product.maxAvailableVehicleYear}}</td>
                    <td class="oper"><a href="" class="blue" ng-click="edit(product)" ng-show="showEdit">编辑</a><a href="" class="blue" ng-show="showReview" ng-click="review(product)">审核</a>
                </tr>

                </tbody>

            </table>
            <t-footer page-size='data.size' page-num='data.number' total-page='data.totalPages' total-num='data.totalElements' change-page-size-fun='changePageSizeFun(size)' goto-page-fun='gotoPageFun(page)'></t-footer>
        </div>
    </div>
</div>