<form name="productReviewForm" ng-submit="commit()">
<div class="main" ng-controller="reviewSubProductController">
    <div class="mod-hd">
        <h2>产品策略</h2>
    </div>

    <div class="table">
        <table class="mod-table1">
            <tbody>
            <tr>
                <td width="15%">产品名称</td>
                <td width="25%">
                    <div class="comm-inp-wp">
                        {{selectedProduct.name}}
                    </div>
                </td>
            </tr>
            <tr>
                <td width="15%">产品类型</td>
                <td width="25%">
                    <div class="comm-inp-wp">
                        {{productTypes[selectedProduct.productType].name}}
                    </div>
                </td>
            </tr>
            <tr>
                <td width="15%">还款方式</td>
                <td width="25%">
                    <div class="comm-inp-wp">
                        {{paybackTypes[selectedProduct.repaymentMethod].name}}
                    </div>
                </td>
            </tr>
            </tr>
            <tr>
                <td width="15%">贷款政策</td>
                <td width="25%">
                    <div class="comm-inp-wp">
                        {{loanPolicies[selectedProduct.loanPolicy].name}}
                    </div>
                </td>
            </tr>
            <tr>
                <td width="15%">可贷成数</td>
                <td width="25%">
                    <div class="comm-inp-wp">
                        {{selectedProduct.minAvailableRate}} - {{selectedProduct.maxAvailableRate}}
                    </div>
                </td>
            </tr>
            <tr>
                <td width="15%">可贷期数</td>
                <td width="25%">
                    <div class="comm-inp-wp">
                        {{selectedProduct.availableTerms}}
                    </div>
                </td>
            </tr>
            <tr>
                <td width="15%">贷款利率</td>
                <td width="25%">
                    <div class="comm-inp-wp">
                        {{selectedProduct.loanMonthlyInterestRate}}
                    </div>
                </td>
            </tr>
            <tr>
                <td width="15%">综合年限</td>
                <td width="25%">
                    <div class="comm-inp-wp">
                        {{selectedProduct.maxAvailableVehicleYear}}年
                    </div>
                    &nbsp;&nbsp;&nbsp;&nbsp;<span class="red">（车龄+加贷款期限）</span>
                </td>
            </tr>
            <tr>
                <td width="15%">城市</td>
                <td width="25%">
                    <div class="comm-inp-wp">
                        {{cities.provincesList[cities.Citys[selectedProduct.cityId-1].ProvinceId-1].Name}}--{{cities.Citys[selectedProduct.cityId-1].Name}}
                    </div>
                </td>
            </tr>
            <tr>
                <td width="15%"><span class="star">*</span>备注</td>
                <td width="25%">
                    <div class="comm-inp-wp">
                        <textarea  placeholder="" class="label" ng-model="remark"></textarea>
                    </div>
                </td>
            </tr>
            <tr>
                <td id="button"  colspan="2">
                    <table class="mod-subtable">
                        <tr >
                            <input type="submit" class="comm-btn comm-btn-blue fl button1" ng-click="reviewSubProduct(1)" value="通过" />
                            <input type="submit" class="comm-btn comm-btn-blue fl button1" ng-click="reviewSubProduct(2)" value="拒绝" />
                        </tr>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</form>