<div class="main" ng-controller="carPricingListController">
    <div class="loan-intention">
        <loan-filter></loan-filter>

        <div class="man-manage-row2">
            <div class="bd">
                <ul class="mod-tabs clearfix">
                    <li class="item" ng-class="{'item-on':subTab.highlight}" ng-click="changeTab(i)" ng-repeat="(i, subTab) in subTabs" ng-show="subTab.show"><a href=""><span>{{subTab.name}}</span></a></li>
                </ul>
            </div>

            <table class="mod-table1">
                <thead>
                <tr>
                    <th width="9%">编号</th>
                    <th width="9%">申请人</th>
                    <th width="9%">联系方式</th>
                    <th width="9%">车型</th>
                    <th width="9%">地区</th>
                    <th width="9%">产品</th>
                    <th width="9%">成交价格</th>
                    <th width="9%">跟进人</th>
                    <th width="9%">提交日期</th>
                    <th width="9%">状态</th>
                    <th width="9%">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat = "loanapply in data.content">
                    <td>{{loanapply.id}}</td>
                    <td>{{loanapply.applicantName}}</td>
                    <td>{{loanapply.applicantMobileNumber}}</td>
                    <td>{{commonUtil.getArrayFromString(loanapply.vehicleDesc,'/')[2]}}</td>
                    <td>{{cityJson.provincesList[cityJson.Citys[loanapply.sourceCityId].ProvinceId-1].Name}}-{{cityJson.Citys[loanapply.sourceCityId-1].Name}}</td>
                    <td>{{loanapply.productName}}</td>
                    <td>{{loanapply.vehicleDealPrice}}</td>
                    <td>{{loanapply.sourceFinancialCommissioner}}</td>
                    <td>{{commonUtil.getDateFromInt(loanapply.modifiedTime)}}</td>
                    <td>{{loanapply.status==3?"待定价":"已定价"}}</td>
                    <td class="oper"><a href="" class="blue" ng-click="showDetail(loanapply)">查看</a><a href="" class="blue" ng-click="setPrice(loanapply)" ng-show="subTab.edit && subTab.status == 3">定价</a></td>
                </tr>

                </tbody>

            </table>
            <t-footer page-size = 'data.size' page-num = 'data.number' total-page = 'data.totalPages' total-num = 'data.totalElements' change-page-size-fun = 'changePageSizeFun(size)' goto-page-fun='gotoPageFun(page)'></t-footer>
        </div>
    </div>
</div>