<div ng-controller="MainController">
<div class="header">
    <div class="mod-logo">
        <a href="home/index-content.html" target="right">
            <span class="pic"><img src="/resources/img/logo.png"></span>
            <span class="version">v2.0</span>
        </a>
    </div>

    <div class="top-menu">
        <ul class="top-menu-list">
            <li class="item">
                <a href="">
                    <i class="i-pw"></i>
                    <span class="txt">修改密码</span>
                </a>
            </li>
            <li class="item">
                <a href="">
                    <i class="i-quit"></i>
                    <span class="txt">退出系统</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="person-info">
        <p class="p1">欢迎您，超级管理员 <span class="name">C罗</span></p>
        <p class="p1">2016-08-01 10:20:00</p>
    </div>
</div>

<div class="mainContent">
    <div class="frameLeft">
        <div class="left-menu">
            <div class="left-menu-item">
                <div class="hd">
                    <h3>贷款申请</h3>
                    <i class="i-arrow-down"></i>
                </div>
                <div class="bd">
                    <ul class="left-sub-menu">
                        <li class="item" ng-class="{'item-on':loanapply}" >
                            <a href="" ng-click="loanApply()">
                                贷款申请
                                <i class="i-link-arrow"></i>
                            </a>
                        </li>
                        <li class="item item-on" ng-class="{'item-on':loanIntention}" >
                            <a href="">
                                贷款意向
                                <i class="i-link-arrow"></i>
                            </a>
                        </li>
                        <li class="item" ng-class="{'item-on':giveupList}" >
                            <a href="">
                                放弃名单
                                <i class="i-link-arrow"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="left-menu-item">
                <div class="hd">
                    <h3>贷前审批</h3>
                    <i class="i-arrow-down"></i>
                </div>
                <div class="bd">
                    <ul class="left-sub-menu">
                        <li class="item" ng-class="{'item-on':loanpreliminary}" >
                            <a href="" ng-click="LoanPreliminary()">
                                贷款预审
                                <i class="i-link-arrow"></i>
                            </a>
                        </li>
                        <li class="item" ng-class="{'item-on':carPricing}" >
                            <a href="" ng-click="setPricing()">
                                车辆定价
                                <i class="i-link-arrow"></i>
                            </a>
                        </li>
                        <li class="item" ng-class="{'item-on':loanReview}">
                            <a href="" ng-click="loanRecheck()">
                                贷款复审
                                <i class="i-link-arrow"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="left-menu-item">
                <div class="hd">
                    <h3>签约管理</h3>
                    <i class="i-arrow-down"></i>
                </div>
                <div class="bd">
                    <ul class="left-sub-menu">
                        <li class="item" ng-class="{'item-on':signManagement}" >
                            <a href="">
                                签约管理
                                <i class="i-link-arrow"></i>
                            </a>
                        </li>
                        <li class="item" ng-class="{'item-on':clientGiveupSign}" >
                            <a href="">
                                客户放弃签约
                                <i class="i-link-arrow"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="left-menu-item">
                <div class="hd">
                    <h3>放款管理</h3>
                    <i class="i-arrow-down"></i>
                </div>
                <div class="bd">
                    <ul class="left-sub-menu">
                        <li class="item" ng-class="{'item-on':afterTransfer}" >
                            <a href="">
                                过户后放款
                                <i class="i-link-arrow"></i>
                            </a>
                        </li>
                        <li class="item" ng-class="{'item-on':afterMortage}" >
                            <a href="">
                                抵押后放款
                                <i class="i-link-arrow"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="left-menu-item">
                <div class="hd">
                    <h3>档案管理</h3>
                    <i class="i-arrow-down"></i>
                </div>
                <div class="bd">
                    <ul class="left-sub-menu">
                        <li class="item" ng-class="{'item-on':fileManagement}" >
                            <a href="">
                                档案管理
                                <i class="i-link-arrow"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="left-menu-item">
                <div class="hd">
                    <h3>贷后管理</h3>
                    <i class="i-arrow-down"></i>
                </div>
                <div class="bd">
                    <ul class="left-sub-menu">
                        <li class="item" ng-class="{'item-on':packbackManagement}" >
                            <a href="">
                                还款管理
                                <i class="i-link-arrow"></i>
                            </a>
                        </li>
                        <li class="item" ng-class="{'item-on':carChase}" >
                            <a href="">
                                车辆追踪
                                <i class="i-link-arrow"></i>
                            </a>
                        </li>
                        <li class="item" ng-class="{'item-on':electronicFenceMonitoring}" >
                            <a href="">
                                电子围栏监控
                                <i class="i-link-arrow"></i>
                            </a>
                        </li>
                        <li class="item" ng-class="{'item-on':carMonitoringAlarm}" >
                            <a href="">
                                车辆监控报警
                                <i class="i-link-arrow"></i>
                            </a>
                        </li>
                        <li class="item" ng-class="{'item-on':OverdueCollection}" >
                            <a href="">
                                逾期催收
                                <i class="i-link-arrow"></i>
                            </a>
                        </li>
                        <li class="item" ng-class="{'item-on':assetsRecovery}" >
                            <a href="">
                                资产清收
                                <i class="i-link-arrow"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="left-menu-item">
                <div class="hd">
                    <h3>系统管理</h3>
                    <i class="i-arrow-down"></i>
                </div>
                <div class="bd">
                    <ul class="left-sub-menu">
                        <li class="item" ng-class="{'item-on':orgManagement}" >
                            <a ng-click = "deptManagement()" href="">
                                组织管理
                                <i class="i-link-arrow"></i>
                            </a>
                        </li>
                        <li class="item" ng-class="{'item-on':postManagement}" >
                            <a  ng-click = "positionManagement()" href="">
                                岗位管理
                                <i class="i-link-arrow"></i>
                            </a>
                        </li>
                        <li class="item" ng-class="{'item-on':userManagement}" >
                            <a target="right" ng-click = "manManagement()" href="">
                                人员管理
                                <i class="i-link-arrow"></i>
                            </a>
                        </li>
                        <li class="item" ng-class="{'item-on':userManagementArea}" >
                            <a href="">
                                人员管辖地区
                                <i class="i-link-arrow"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="left-menu-item">
                <div class="hd">
                    <h3>产品管理</h3>
                    <i class="i-arrow-down"></i>
                </div>
                <div class="bd">
                    <ul class="left-sub-menu">
                        <li class="item" ng-class="{'item-on':productManament}" >
                            <a ng-click = "productManagement()" href="" target="right">
                                产品管理
                                <i class="i-link-arrow"></i>
                            </a>
                        </li>
                        <li class="item" ng-class="{'item-on':subProductManagement}" >
                            <a ng-click = "subProductManagement()" href="" target="right">
                                产品地域策略
                                <i class="i-link-arrow"></i>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="frameRight">
        <div class="bread"><a href="">首页</a>&gt;<a href="">二级频道</a>&gt;<a href="" class="blue">当前页面</a></div>

        <div class="frameBox" style="overflow: auto;position: absolute;width: 80%;">
            <div ui-view></div>
        </div>
    </div>
</div>
</div>

